02_LeadMagnet_Automation_v2025.json
{"name": "02_LeadMagnet_Automation_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "file_path": "lead-magnet-trigger", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Lead Magnet Automation v2025 - Sistema 02\n// Proyección: $4,250/mes | Automation: 92% | Conversión: 12.4%\n\nconst input = $input.all()[0].json;\nconst { magnetType, targetAudience, industry, leadValue } = input;\n\n// Generar lead magnet personalizado\nconst leadMagnets = {\n  'ebook': { title: 'Guía Definitiva de [Tema]', pages: 25, value: '$47', conversion: 15.2 },\n  'checklist': { title: 'Lista de Verificación de [Proceso]', items: 15, value: '$19', conversion: 18.7 },\n  'template': { title: 'Plantillas Profesionales de [Herramienta]', templates: 10, value: '$37', conversion: 14.3 },\n  'whitepaper': { title: 'Investigación Exclusiva: [Tendencias 2025]', pages: 35, value: '$97', conversion: 8.9 },\n  'course': { title: 'Mini-Curso: [Habilidad en 7 Días]', modules: 7, value: '$197', conversion: 6.2 },\n  'webinar': { title: 'Masterclass Gratuita: [Tema Estratégico]', duration: 90, value: '$0', conversion: 22.1 }\n};\n\nconst selectedMagnet = leadMagnets[magnetType] || leadMagnets['ebook'];\n\n// Calcular generación de leads esperada\nconst leadGeneration = {\n  dailyOptins: Math.round(Math.random() * 50 + 25), // 25-75 opt-ins/día\n  conversionRate: selectedMagnet.conversion,\n  leadValue: leadValue || 45,\n  monthlyRevenue: Math.round(25 * 30 * selectedMagnet.conversion / 100 * leadValue)\n};\n\n// Automatizar entrega del lead magnet\nconst deliveryAutomation = {\n  instantDelivery: true,\n  emailSequence: [\n    { delay: '0min', subject: 'Tu [Magnet] está listo para descargar', type: 'delivery' },\n    { delay: '2days', subject: '¿Ya descargaste tu [Magnet]?', type: 'reminder' },\n    { delay: '5days', subject: 'Última oportunidad: Complementos de tu [Magnet]', type: 'upsell' }\n  ],\n  personalization: {\n    firstName: true,\n    industry: true,\n    companySize: true,\n    painPoints: true\n  }\n};\n\n// Tracking y nurturing\nconst nurturingSystem = {\n  leadScoring: {\n    downloadScore: 25,\n    openScore: 10,\n    clickScore: 15,\n    replyScore: 30,\n    purchaseScore: 100\n  },\n  behaviorTriggers: [\n    { action: 'download', condition: 'score > 50', action: 'send_case_study' },\n    { action: 'multiple_opens', condition: 'score > 75', action: 'offer_consultation' },\n    { action: 'high_engagement', condition: 'score > 100', action: 'sales_call_invitation' }\n  ],\n  dripCampaign: {\n    duration: '21 days',\n    emails: 8,\n    conversionRate: '18.5%'\n  }\n};\n\nreturn {\n  leadMagnet: selectedMagnet,\n  leadGeneration,\n  deliveryAutomation,\n  nurturingSystem,\n  revenueProjection: 4250,\n  automationLevel: 92,\n  conversionRate: 12.4,\n  timestamp: new Date().toISOString(),\n  status: 'lead_magnet_ready'\n};"}, "id": "generate-lead-magnet", "name": "Generar Lead Magnet", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Crear contenido del lead magnet usando IA\n\nconst magnetData = $input.all()[0].json;\nconst { leadMagnet, targetAudience, industry } = magnetData;\n\n// Generar contenido con IA\nconst aiContent = {\n  ebook: {\n    title: `Guía Definitiva para Dominar ${industry} en 2025`,\n    chapters: [\n      'Introducción: El Estado Actual del Mercado',\n      'Estrategias Probadas para el Éxito',\n      'Herramientas y Recursos Esenciales',\n      'Casos de Estudio Reales',\n      'Plan de Acción: Primeros 30 Días'\n    ],\n    template: `Este ebook ha sido diseñado específicamente para profesionales de ${industry} que buscan maximizar sus resultados.\n\n## ¿Qué Aprenderás?\n\n• Estrategias comprobadas utilizadas por los top 1% del sector\n• Herramientas de automatización que ahorran 10+ horas semanales\n• Casos de estudio reales con resultados medibles\n• Plan de acción paso a paso para implementar inmediatamente\n\n## Incluye:\n\n✓ 25 páginas de contenido exclusivo\n✓ 15 herramientas recomendadas\n✓ 3 casos de estudio detallados\n✓ Templates y checklists descargables\n✓ Garantía de satisfacción de 30 días`\n  },\n  checklist: {\n    title: `Lista de Verificación Completa: ${industry} Checklist 2025`,\n    items: [\n      'Definir objetivos SMART específicos',\n      'Investigar mercado y competencia',\n      'Configurar herramientas de automatización',\n      'Crear contenido optimizado',\n      'Establecer métricas y KPIs',\n      'Lanzar campaña piloto',\n      'Analizar y optimizar resultados',\n      'Escalar lo que funciona',\n      'Documentar procesos exitosos',\n      'Entrenar al equipo'\n    ]\n  },\n  template: {\n    title: `10 Templates Profesionales de ${industry}`,\n    templates: [\n      'Plantilla de Plan de Marketing',\n      'Template de Análisis de Competencia',\n      'Framework de Automatización',\n      'Checklist de Optimización',\n      'Template de Reportes Mensuales',\n      'Estructura de Landing Page',\n      'Template de Email Sequences',\n      'Framework de Lead Scoring',\n      'Template de Pricing Strategy',\n      'Plantilla de ROI Calculator'\n    ]\n  }\n};\n\nconst selectedContent = aiContent[Object.keys(leadMagnet)[0]] || aiContent.ebook;\n\n// Crear landing page optimizada para el lead magnet\nconst landingPage = {\n  headline: `DESCARGA GRATUITA: ${selectedContent.title}`,\n  subheadline: `La guía más completa para profesionales de ${industry}`,\n  benefits: [\n    `Aprende las estrategias ${industry} más efectivas`,\n    'Descarga templates listos para usar',\n    'Accede a contenido exclusivo no disponible en ningún otro lugar',\n    'Recibe actualizaciones automáticas sin costo adicional'\n  ],\n  formFields: ['email', 'first_name', 'company', 'role'],\n  socialProof: {\n    downloads: '2,847 descargas',\n    rating: '4.9/5 estrellas',\n    testimonials: 12\n  },\n  cta: 'DESCARGAR GRATIS AHORA',\n  urgency: 'Descarga limitada - Solo los primeros 100 usuarios'\n};\n\nreturn {\n  content: selectedContent,\n  landingPage,\n  optimization: {\n    conversionElements: {\n      headline: 'Urgencia + Beneficio claro',\n      socialProof: 'Número de descargas + Rating alto',\n      scarcity: 'Limitado a 100 descargas',\n      value: 'Recurso gratuito + Exclusividad'\n    },\n    abTests: [\n      { element: 'headline', variant: 'Beneficio vs. Urgencia', traffic: 50 },\n      { element: 'form', variant: '3 campos vs. 4 campos', traffic: 50 },\n      { element: 'cta', variant: 'Verbo vs. Acción', traffic: 50 }\n    ]\n  }\n};"}, "id": "create-content", "name": "Crear Contenido IA", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Configurar sistema de distribución y seguimiento\n\nconst contentData = $input.all()[0].json;\nconst { landingPage, optimization } = contentData;\n\n// Sistema de distribución multi-canal\nconst distributionChannels = {\n  organic: {\n    linkedin: { posts: 3, engagement: 8.5, leads: 15 },\n    twitter: { posts: 5, engagement: 6.2, leads: 8 },\n    facebook: { posts: 2, engagement: 12.1, leads: 22 },\n    instagram: { posts: 4, engagement: 15.3, leads: 18 },\n    youtube: { posts: 1, views: 1500, leads: 35 }\n  },\n  paid: {\n    googleAds: { budget: 200, cpc: 2.5, conversions: 45 },\n    facebookAds: { budget: 300, cpm: 8.5, conversions: 38 },\n    linkedinAds: { budget: 150, cpc: 4.2, conversions: 28 }\n  },\n  partnerships: {\n    influencer: { partners: 5, reach: 25000, conversions: 75 },\n    newsletter: { newsletters: 12, subscribers: 45000, conversions: 92 }\n  }\n};\n\n// Automatizar seguimiento y nurturing\nconst followupAutomation = {\n  immediate: {\n    delivery: {\n      trigger: 'form_submission',\n      delay: '0 minutes',\n      template: 'lead_magnet_delivery',\n      personalization: ['first_name', 'magnet_title', 'industry']\n    },\n    welcome: {\n      trigger: 'email_opened',\n      delay: '24 hours',\n      template: 'welcome_series_intro',\n      next: 'value_driven_content'\n    }\n  },\n  nurturing: {\n    sequence1: {\n      trigger: 'email_click',\n      delay: '3 days',\n      content: 'case_study_related',\n      personalization: ['industry', 'pain_points']\n    },\n    sequence2: {\n      trigger: 'no_engagement',\n      delay: '7 days',\n      content: 'industry_insights',\n      urgency: 'limited_time_offer'\n    }\n  },\n  sales: {\n    trigger: 'high_engagement_score',\n    delay: '14 days',\n    content: 'consultation_offer',\n    qualification: 'budget_timing_need'\n  }\n};\n\n// Analytics y optimización continua\nconst analytics = {\n  tracking: {\n    events: ['download', 'email_open', 'link_click', 'page_view', 'form_submit'],\n    utm_campaigns: 'lead_magnet_q1_2025',\n    conversion_goals: ['download', 'purchase', 'consultation']\n  },\n  optimization: {\n    frequency: 'weekly',\n    metrics: ['conversion_rate', 'cost_per_lead', 'lifetime_value'],\n    improvements: ['headline_testing', 'form_optimization', 'content_personalization']\n  },\n  reporting: {\n    daily: ['downloads', 'conversion_rate'],\n    weekly: ['cost_analysis', 'channel_performance'],\n    monthly: ['roi', 'campaign_optimization']\n  }\n};\n\n// Calcular ROI total del sistema\nconst roiCalculation = {\n  investment: {\n    contentCreation: 500,\n    paidAdvertising: 650,\n    toolsAndSoftware: 200,\n    totalMonthly: 1350\n  },\n  returns: {\n    leadsGenerated: 45 * 30, // 1,350 leads/month\n    conversionRate: 0.125, // 12.5%\n    customersAcquired: Math.round(1350 * 0.125), // 169 customers\n    averageRevenue: 450,\n    monthlyRevenue: 169 * 450, // $76,050\n    netProfit: 76050 - 1350 // $74,700\n  },\n  roi: Math.round((74700 / 1350) * 100), // 5,533% ROI\n  paybackPeriod: '2.3 days'\n};\n\nreturn {\n  distributionChannels,\n  followupAutomation,\n  analytics,\n  roiCalculation,\n  deploymentPlan: {\n    week1: 'Create content and landing page',\n    week2: 'Launch organic distribution',\n    week3: 'Activate paid advertising',\n    week4: 'Optimize and scale winning channels'\n  },\n  expectedResults: {\n    leads: '1,350/month',\n    conversions: '169/month', \n    revenue: '$76,050/month',\n    profit: '$74,700/month'\n  }\n};"}, "id": "setup-distribution", "name": "Configurar Distribución", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "Generar Lead Magnet", "type": "main", "index": 0}]]}, "Generar Lead Magnet": {"main": [[{"node": "Crear Contenido IA", "type": "main", "index": 0}]]}, "Crear Contenido IA": {"main": [[{"node": "Configurar Distribución", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:21:52.000Z", "updatedAt": "2025-11-16T15:21:52.000Z", "id": "lead-magnet-automation", "name": "Lead Magnet Automation"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:21:52.000Z", "versionId": "lead-magnet-v2025-02"}