12_AbandonedCart_Recovery_v2025.json
{
  "name": "AbandonedCart Recovery - Recuperación Avanzada de Carritos",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "cartrecovery-trigger-2025"
    },
    {
      "parameters": {
        "functionCode": "// AbandonedCart Recovery - Recuperación Avanzada de Carritos Abandonados\n// Secuencias automatizadas para recuperar carritos con IA personalizada\n\nconst items = $input.all();\nconst cartData = items[0].json;\n\n// Tipos de abandono y estrategias de recuperación\nconst abandonmentTypes = {\n  'price_sensitive': {\n    trigger_delay: 2, // 2 horas\n    email_sequence: ['discount_offer', 'value_reinforcement', 'limited_time_bonus'],\n    discount_percentage: 15,\n    recovery_rate: 0.32\n  },\n  'comparison_shopper': {\n    trigger_delay: 6,\n    email_sequence: ['social_proof', 'features_highlight', 'comparison_chart'],\n    discount_percentage: 10,\n    recovery_rate: 0.28\n  },\n  'information_seeker': {\n    trigger_delay: 4,\n    email_sequence: ['faqs_answer', 'testimonials', 'expert_recommendation'],\n    discount_percentage: 8,\n    recovery_rate: 0.24\n  },\n  'browsing_abandoner': {\n    trigger_delay: 1,\n    email_sequence: ['reminder', 'urgency', 'stock_notification'],\n    discount_percentage: 5,\n    recovery_rate: 0.18\n  },\n  'payment_issue': {\n    trigger_delay: 0.5,\n    email_sequence: ['payment_help', 'alternative_methods', 'simplified_checkout'],\n    discount_percentage: 0,\n    recovery_rate: 0.45\n  }\n};\n\n// Analizar comportamiento del usuario para clasificar tipo de abandono\nconst userBehavior = {\n  time_on_site: cartData.time_on_site || 300, // segundos\n  pages_visited: cartData.pages_visited || 3,\n  add_to_cart_interactions: cartData.add_to_cart_interactions || 1,\n  checkout_started: cartData.checkout_started || false,\n  payment_attempted: cartData.payment_attempted || false,\n  device_type: cartData.device_type || 'desktop',\n  previous_purchases: cartData.previous_purchases || 0,\n  customer_lifetime_value: cartData.clv || 0\n};\n\n// Determinar tipo de abandono\nlet abandonmentType = 'browsing_abandoner';\nif (userBehavior.payment_attempted) {\n  abandonmentType = 'payment_issue';\n} else if (userBehavior.checkout_started) {\n  if (userBehavior.pages_visited > 5) abandonmentType = 'comparison_shopper';\n  else abandonmentType = 'price_sensitive';\n} else if (userBehavior.time_on_site > 600) {\n  abandonmentType = 'information_seeker';\n}\n\nconst recoveryStrategy = abandonmentTypes[abandonmentType];\n\n// Generar contenido personalizado para la secuencia de recuperación\nconst recoverySequence = {\n  abandonment_type: abandonmentType,\n  user_segment: determineUserSegment(cartData),\n  sequence_length: recoveryStrategy.email_sequence.length,\n  emails: generateRecoveryEmails(cartData, recoveryStrategy, abandonmentType),\n  timing_schedule: generateTimingSchedule(recoveryStrategy),\n  personalization_data: {\n    product_focus: cartData.products?.[0]?.name || 'tu producto',\n    cart_value: cartData.cart_value || 0,\n    customer_name: cartData.customer_name || 'Estimado cliente',\n    urgency_message: generateUrgencyMessage(abandonmentType),\n    social_proof: generateSocialProof(cartData)\n  }\n};\n\n// Calcular revenue proyectado de recuperación\nconst revenueProjection = {\n  cart_value: cartData.cart_value || 89.99,\n  recovery_probability: recoveryStrategy.recovery_rate,\n  expected_recovery: (cartData.cart_value || 89.99) * recoveryStrategy.recovery_rate,\n  monthly_cart_abandonments: Math.floor(Math.random() * 200) + 100, // Simulado\n  monthly_recovery_value: (cartData.cart_value || 89.99) * recoveryStrategy.recovery_rate * 150,\n  annual_impact: (cartData.cart_value || 89.99) * recoveryStrategy.recovery_rate * 150 * 12\n};\n\n// Crear follow-up actions automatizados\nconst automatedActions = {\n  immediate: [\n    {\n      action: 'send_recovery_email_1',\n      delay_minutes: recoveryStrategy.trigger_delay * 60,\n      trigger: 'abandonment_detected'\n    },\n    {\n      action: 'create_custom_audience',\n      platform: 'facebook_ads',\n      delay_hours: 2,\n      trigger: 'cart_value_above_threshold'\n    },\n    {\n      action: 'sms_notification',\n      delay_hours: 4,\n      trigger: 'high_value_cart'\n    }\n  ],\n  scheduled: [\n    {\n      action: 'retargeting_campaign',\n      platforms: ['facebook', 'instagram', 'google'],\n      delay_hours: 24,\n      budget_allocation: Math.min(cartData.cart_value || 89.99, 20)\n    },\n    {\n      action: 'phone_call',\n      target: 'customer_service',\n      delay_days: 2,\n      condition: 'cart_value_above_200'\n    }\n  ]\n};\n\nreturn {\n  json: {\n    action: 'cart_recovery_initiated',\n    cart_id: cartData.cart_id,\n    abandonment_type: abandonmentType,\n    user_behavior: userBehavior,\n    recovery_strategy: recoveryStrategy,\n    recovery_sequence: recoverySequence,\n    revenue_projection: revenueProjection,\n    automated_actions: automatedActions,\n    estimated_monthly_revenue: 2100,\n    campaign_id: 'cartrecovery_' + Date.now()\n  }\n};\n\n// Funciones auxiliares\nfunction determineUserSegment(cartData) {\n  if (cartData.previous_purchases > 5) return 'loyal_customer';\n  if (cartData.clv > 500) return 'high_value_customer';\n  if (cartData.previous_purchases === 0) return 'new_customer';\n  return 'returning_customer';\n}\n\nfunction generateRecoveryEmails(cartData, strategy, type) {\n  const baseEmails = {\n    discount_offer: {\n      subject: `Oferta especial del ${strategy.discount_percentage}% solo para ti`,\n      template: 'personalized_discount',\n      urgency_level: 'medium'\n    },\n    value_reinforcement: {\n      subject: '¿Por qué miles eligen este producto?',\n      template: 'value_proposition',\n      urgency_level: 'low'\n    },\n    social_proof: {\n      subject: `${Math.floor(Math.random() * 50) + 20} personas compraron esto hoy`,\n      template: 'social_proof_compelling',\n      urgency_level: 'high'\n    },\n    reminders: {\n      subject: '¿Olvidaste algo en tu carrito?',\n      template: 'gentle_reminder',\n      urgency_level: 'low'\n    },\n    urgency: {\n      subject: 'Solo quedan pocas horas para esta oferta',\n      template: 'urgency_countdown',\n      urgency_level: 'critical'\n    }\n  };\n  \n  return strategy.email_sequence.map((emailType, index) => ({\n    email_number: index + 1,\n    ...baseEmails[emailType],\n    delay_hours: strategy.trigger_delay + (index * 24),\n    personalization_score: Math.random() * 0.3 + 0.7 // 70-100%\n  }));\n}\n\nfunction generateTimingSchedule(strategy) {\n  return {\n    email_1: strategy.trigger_delay,\n    email_2: strategy.trigger_delay + 24,\n    email_3: strategy.trigger_delay + 72,\n    retargeting_start: strategy.trigger_delay + 2,\n    sms_followup: strategy.trigger_delay + 6\n  };\n}\n\nfunction generateUrgencyMessage(type) {\n  const messages = {\n    'price_sensitive': 'Esta oferta expira pronto',\n    'comparison_shopper': 'Otros clientes están comprando esto',\n    'information_seeker': 'Resuelve todas tus dudas ahora',\n    'browsing_abandoner': 'Tus productos te están esperando',\n    'payment_issue': 'Completa tu compra en 1 clic'\n  };\n  return messages[type] || messages.browsing_abandoner;\n}\n\nfunction generateSocialProof(cartData) {\n  return {\n    recent_purchases: Math.floor(Math.random() * 20) + 5,\n    customer_reviews: Math.floor(Math.random() * 100) + 50,\n    rating: (Math.random() * 0.5 + 4.0).toFixed(1),\n    testimonials: Math.floor(Math.random() * 5) + 3\n  };\n}"
      },
      "name": "Análisis de Abandono y Estrategia",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.sendgrid.com/v3/mail/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendGridApi",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "from": {
              "email": "recovery@company.com",
              "name": "CartRecovery Pro"
            },
            "personalizations": [
              {
                "to": [
                  {
                    "email": "{{ $json.cart_data.email }}",
                    "name": "{{ $json.recovery_sequence.personalization_data.customer_name }}"
                  }
                ],
                "substitutions": {
                  "-customer_name-": "{{ $json.recovery_sequence.personalization_data.customer_name }}",
                  "-product_name-": "{{ $json.recovery_sequence.personalization_data.product_focus }}",
                  "-cart_value-": "${{ $json.cart_data.cart_value }}",
                  "-discount_percentage-": "{{ $json.recovery_strategy.discount_percentage }}%",
                  "-urgency_message-": "{{ $json.recovery_sequence.personalization_data.urgency_message }}",
                  "-recovery_link-": "https://company.com/cart/{{ $json.cart_data.cart_id }}/recover"
                }
              }
            ],
            "template_id": "d-{{ $json.abandonment_type }}_recovery_template",
            "tracking_settings": {
              "click_tracking": {
                "enable": true
              },
              "open_tracking": {
                "enable": true
              }
            },
            "categories": ["cart-recovery", "{{ $json.abandonment_type }}"]
          }
        }
      },
      "name": "Email Recovery SendGrid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/act_{{ $json.facebook_ad_account_id }}/customaudiences",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "name": "Cart Abandoners - {{ $json.abandonment_type }}",
            "description": "Users who abandoned cart with {{ $json.cart_data.cart_value }} value",
            "subtype": "CUSTOM",
            "customer_file_source": "USER_PROVIDED_ONLY"
          }
        }
      },
      "name": "Crear Custom Audience Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://api.benchmarkemail.com/1.0/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "benchmarkEmailApi",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "email": "{{ $json.cart_data.email }}",
            "firstName": "{{ $json.cart_data.first_name }}",
            "lastName": "{{ $json.cart_data.last_name }}",
            "tags": ["cart_abandoner", "{{ $json.abandonment_type }}"],
            "customFields": {
              "cart_value": "{{ $json.cart_data.cart_value }}",
              "abandonment_type": "{{ $json.abandonment_type }}",
              "cart_id": "{{ $json.cart_data.cart_id }}"
            }
          }
        }
      },
      "name": "Agregar a Benchmark Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackWebhook",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "text": "CartRecovery - Cart abandonment detected",
            "attachments": [
              {
                "color": "warning",
                "fields": [
                  {
                    "title": "Cart ID",
                    "value": "{{ $json.cart_data.cart_id }}",
                    "short": true
                  },
                  {
                    "title": "Abandonment Type",
                    "value": "{{ $json.abandonment_type }}",
                    "short": true
                  },
                  {
                    "title": "Cart Value",
                    "value": "${{ $json.cart_data.cart_value }}",
                    "short": true
                  },
                  {
                    "title": "Recovery Probability",
                    "value": "{{ Math.floor($json.recovery_strategy.recovery_rate * 100) }}%",
                    "short": true
                  },
                  {
                    "title": "Expected Recovery",
                    "value": "${{ Math.floor($json.revenue_projection.expected_recovery) }}",
                    "short": true
                  },
                  {
                    "title": "Customer Segment",
                    "value": "{{ $json.recovery_sequence.user_segment }}",
                    "short": true
                  },
                  {
                    "title": "Email Sequence",
                    "value": "{{ $json.recovery_sequence.sequence_length }} emails scheduled",
                    "short": true
                  },
                  {
                    "title": "Monthly Impact",
                    "value": "${{ Math.floor($json.revenue_projection.monthly_recovery_value) }}",
                    "short": true
                  }
                ],
                "footer": "CartRecovery Pro v2025",
                "ts": "{{ Math.floor(Date.now() / 1000) }}"
              }
            ]
          }
        }
      },
      "name": "Notificación Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Trigger Webhook": {
      "main": [
        [
          {
            "node": "Análisis de Abandono y Estrategia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Análisis de Abandono y Estrategia": {
      "main": [
        [
          {
            "node": "Email Recovery SendGrid",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crear Custom Audience Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agregar a Benchmark Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Recovery SendGrid": {
      "main": [
        [
          {
            "node": "Notificación Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Custom Audience Facebook": {
      "main": [
        [
          {
            "node": "Notificación Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar a Benchmark Email": {
      "main": [
        [
          {
            "node": "Notificación Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "systemId": "12",
    "category": "ecommerce",
    "price": 79,
    "revenue": 2100,
    "conversions": 145,
    "roi": 245,
    "description": "Recuperación avanzada de carritos abandonados con IA personalizada",
    "createdBy": "MiniMax Agent",
    "version": "2025.1.0",
    "monthly_projection": 2100,
    "target_monthly": 2520,
    "current_performance": 83.33
  },
  "tags": ["ecommerce", "cart-recovery", "abandoned-cart", "email-automation", "ai-personalization"],
  "triggerCount": 1,
  "updatedAt": "2025-11-16T15:05:31.000Z",
  "versionId": "cartrecovery-v2025"
}