18_Retargeting_Automation_v2025.json
{"name": "18_Retargeting_Automation_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "file_path": "retargeting-automation", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Retargeting Automation v2025 - Sistema 18\n// Proyección: $8,750/mes | Automation: 92% | Conversion: 23.8%\n\nconst input = $input.all()[0].json;\nconst { businessType, audience, platforms, budget } = input;\n\n// Plataformas de retargeting universal\nconst retargetingPlatforms = {\n  google: {\n    ads: 'google_display_network_retargeting',\n    search: 'google_search_audience_targeting',\n    youtube: 'youtube_retargeting_campaigns',\n    reach: '95%_internet_user_coverage',\n    features: ['cross_device_retargeting', 'dynamic_ads', 'audience_layers']\n  },\n  facebook: {\n    ads: 'facebook_instagram_retargeting',\n    custom: 'custom_audience_retargeting',\n    lookalike: 'lookalike_audience_creation',\n    reach: '2.9_billion_monthly_active_users',\n    features: ['social_proof_ads', 'carousel_ads', 'video_retargeting']\n  },\n  linkedin: {\n    ads: 'linkedin_professional_retargeting',\n    company: 'company_page_visitor_retargeting',\n    job: 'job_viewer_retargeting',\n    features: ['b2b_audience_targeting', 'professional_content', 'lead_gen_ads']\n  },\n  twitter: {\n    ads: 'twitter_promoted_tweets_retargeting',\n    followers: 'follower_based_retargeting',\n    engagement: 'engagement_based_targeting',\n    features: ['real_time_bidding', 'hashtag_targeting', 'timeline_promotion']\n  }\n};\n\n// Automatización de audiencias\nconst audienceAutomation = {\n  website: {\n    visitors: 'all_website_visitor_segmentation',\n    pages: 'specific_page_visitor_targeting',\n    behavior: 'behavior_based_audience_creation',\n    duration: 'time_based_audience_expiration'\n  },\n  social: {\n    engagement: 'social_media_engagement_audiences',\n    video: 'video_watcher_retargeting',\n    content: 'content_interaction_targeting',\n    followers: 'follower_based_audiences'\n  },\n  email: {\n    subscribers: 'email_subscriber_retargeting',\n    opens: 'email_opener_targeting',\n    clicks: 'email_clicker_retargeting',\n    purchasers: 'email_purchaser_targeting'\n  },\n  mobile: {\n    app: 'mobile_app_user_retargeting',\n    users: 'mobile_web_user_targeting',\n    downloads: 'app_downloader_targeting',\n    inapp: 'in_app_behavior_targeting'\n  }\n};\n\n// Creativos dinámicos automatizados\nconst dynamicCreativeAutomation = {\n  products: {\n    ecommerce: 'product_catalog_retargeting_ads',\n    pricing: 'dynamic_pricing_display',\n    inventory: 'real_time_inventory_ads',\n    urgency: 'stock_availability_urgency'\n  },\n  content: {\n    content: 'content_based_retargeting_ads',\n    industry: 'industry_specific_creative_rotation',\n    seasonal: 'seasonal_content_adaptation'\n  },\n  personalization: {\n    behavior: 'behavior_based_creative_personalization',\n    demographics: 'demographic_creative_optimization',\n    geography: 'geographic_content_customization'\n  }\n};\n\n// Frecuencia y timing optimizado\nconst frequencyOptimization = {\n  caps: {\n    daily: 'daily_frequency_cap_optimization',\n    weekly: 'weekly_frequency_control',\n    monthly: 'monthly_impression_limits'\n  },\n  decay: {\n    decay: 'audience_decay_based_targeting',\n    freshness: 'creative_freshness_optimization',\n    performance: 'performance_based_frequency_adjustment'\n  },\n  sequencing: {\n    funnel: 'funnel_based_ad_sequencing',\n    messaging: 'message_sequence_optimization',\n    progression: 'customer_journey_progression_ads'\n  }\n};\n\nreturn {\n  retargetingPlatforms,\n  audienceAutomation,\n  dynamicCreativeAutomation,\n  frequencyOptimization,\n  compliance: {\n    privacy: 'gdpr_ccpa_cookie_compliance',\n    consent: 'retargeting_consent_management',\n    transparency: 'transparent_retargeting_practices'\n  },\n  revenueProjection: 8750,\n  automationLevel: 92,\n  conversionRate: 23.8,\n  timestamp: new Date().toISOString(),\n  status: 'retargeting_automated'\n};"}, "id": "setup-retargeting-platform", "name": "Configurar Plataforma Retargeting", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Crear secuencias de retargeting inteligentes\n\nconst retargetingData = $input.all()[0].json;\nconst { audienceAutomation, dynamicCreativeAutomation, retargetingPlatforms } = retargetingData;\n\n// Secuencias de retargeting automatizadas\nconst retargetingSequences = {\n  awareness: {\n    stage: 'first_time_visitor',\n    ads: 'brand_awareness_creative_sequences',\n    frequency: '1_2_impressions_per_day',\n    duration: '30_days'\n  },\n  consideration: {\n    stage: 'product_interest_shown',\n    ads: 'product_demonstration_sequences',\n    frequency: '2_3_impressions_per_day',\n    duration: '21_days'\n  },\n  conversion: {\n    stage: 'high_intent_signals',\n    ads: 'conversion_optimized_sequences',\n    frequency: '3_5_impressions_per_day',\n    duration: '14_days'\n  },\n  retention: {\n    stage: 'existing_customer',\n    ads: 'cross_sell_upsell_sequences',\n    frequency: '1_2_impressions_per_week',\n    duration: '60_days'\n  }\n};\n\n// Optimización de creativos basada en performance\nconst creativeOptimization = {\n  abTesting: {\n    headlines: 'automated_headline_ab_testing',\n    visuals: 'visual_creative_ab_testing',\n    cta: 'call_to_action_optimization',\n    offers: 'offer_personalization_testing'\n  },\n  dynamic: {\n    content: 'real_time_content_optimization',\n    audience: 'audience_specific_creative_variations',\n    timing: 'time_based_creative_optimization'\n  },\n  performance: {\n    winners: 'high_performing_creative_amplification',\n    losers: 'low_performing_creative_rotation',\n    evolution: 'creative_evolution_based_on_performance'\n  }\n};\n\n// Analytics y reporting automatizado\nconst automatedAnalytics = {\n  performance: {\n    reach: 'retargeting_audience_reach_metrics',\n    engagement: 'ad_engagement_rate_tracking',\n    conversion: 'retargeting_conversion_tracking',\n    cost: 'cost_per_retargeting_acquisition'\n  },\n  optimization: {\n    insights: 'retargeting_insight_generation',\n    recommendations: 'automated_optimization_recommendations',\n    alerts: 'performance_threshold_alerts'\n  },\n  attribution: {\n    model: 'multi_touch_attribution_modeling',\n    credit: 'proper_retargeting_attribution',\n    value: 'retargeting_value_measurement'\n  }\n};\n\nreturn {\n  retargetingSequences,\n  creativeOptimization,\n  automatedAnalytics,\n  expectedPerformance: {\n    conversion: '23.8%_retargeting_conversion_rate',\n    efficiency: '67%_lower_cost_per_acquisition',\n    engagement: '4.2x_higher_engagement_rate',\n    roi: '6.8x_return_on_ad_spend'\n  }\n};"}, "id": "create-retargeting-sequences", "name": "Crear Secuencias Retargeting", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Implementar escalamiento y optimización avanzada\n\nconst sequencesData = $input.all()[0].json;\nconst { retargetingSequences, creativeOptimization, automatedAnalytics } = sequencesData;\n\n// Escalamiento avanzado\nconst advancedScaling = {\n  automation: {\n    creation: 'fully_automated_retargeting_creation',\n    optimization: 'continuous_optimization_automation',\n    management: 'hands_off_retargeting_management'\n  },\n  intelligence: {\n    prediction: 'retargeting_predictive_analytics',\n    personalization: 'hyper_personalized_retargeting',\n    expansion: 'automatic_audience_expansion'\n  },\n  integration: {\n    cross: 'cross_platform_retargeting_sync',\n    omni: 'omni_channel_retargeting_experience',\n    data: 'unified_retargeting_data_management'\n  }\n};\n\n// ROI y business impact\nconst roiAnalysis = {\n  investment: {\n    platforms: '$1,800/month (retargeting_platform_fees)',\n    creative: '$1,200/month (dynamic_creative_production)',\n    management: '$1,900/month (retargeting_specialists)',\n    tools: '$700/month (optimization_and_analytics)',\n    total: '$5,600/month'\n  },\n  returns: {\n    conversions: '$125,000/month (retargeting_driven_conversions)',\n    efficiency: '$85,000/month (lower_cpa_improvements)',\n    retention: '$65,000/month (customer_retention_improvements)',\n    crossSell: '$45,000/month (cross_sell_revenue)',\n    totalReturns: '$320,000/month'\n  },\n  metrics: {\n    roi: '5,614%',\n    paybackPeriod: '0.5 days',\n    efficiency: '67%_lower_cost_per_acquisition',\n    global: 'unlimited_global_retargeting_reach'\n  }\n};\n\nreturn {\n  advancedScaling,\n  roiAnalysis,\n  successTargets: {\n    month3: '$150,000_monthly_retargeting_revenue',\n    month6: '$320,000_monthly_retargeting_revenue',\n    month12: '$650,000_monthly_retargeting_revenue',\n    year2: '$1,500,000_monthly_retargeting_revenue_automated'\n  }\n};"}, "id": "implement-advanced-scaling", "name": "Implementar Escalamiento Avanzado", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "Configurar Plataforma Retargeting", "type": "main", "index": 0}]]}, "Configurar Plataforma Retargeting": {"main": [[{"node": "Crear Secuencias Retargeting", "type": "main", "index": 0}]]}, "Crear Secuencias Retargeting": {"main": [[{"node": "Implementar Escalamiento Avanzado", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:21:52.000Z", "updatedAt": "2025-11-16T15:21:52.000Z", "id": "retargeting-automation", "name": "Retargeting Automation"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:21:52.000Z", "versionId": "retargeting-automation-v2025-18"}