21_ContentCreator_AI_v2025.json
{
  "name": "ContentCreator AI - Generación Automática de Contenido",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "contentcreator-trigger-2025"
    },
    {
      "parameters": {
        "functionCode": "// ContentCreator AI - Generación Automática de Contenido para Redes Sociales\n// Crea contenido viral optimizado para diferentes plataformas\n\nconst items = $input.all();\nconst contentRequest = items[0].json;\n\n// Configuración de plataformas sociales\nconst platformConfig = {\n  'instagram': {\n    max_length: 2200,\n    hashtag_limit: 30,\n    story_length: 500,\n    reel_length: 300,\n    engagement_rate_avg: 0.045,\n    viral_threshold: 50000\n  },\n  'tiktok': {\n    max_length: 300,\n    hashtag_limit: 10,\n    video_length: 60,\n    engagement_rate_avg: 0.089,\n    viral_threshold: 100000\n  },\n  'twitter': {\n    max_length: 280,\n    hashtag_limit: 2,\n    thread_length: 10,\n    engagement_rate_avg: 0.023,\n    viral_threshold: 10000\n  },\n  'linkedin': {\n    max_length: 3000,\n    hashtag_limit: 5,\n    article_length: 2000,\n    engagement_rate_avg: 0.034,\n    viral_threshold: 5000\n  },\n  'youtube': {\n    max_length: 5000,\n    hashtag_limit: 15,\n    description_length: 1000,\n    engagement_rate_avg: 0.056,\n    viral_threshold: 10000\n  }\n};\n\n// Analizar tipo de contenido solicitado\nconst contentType = contentRequest.content_type || 'general_post';\nconst targetPlatform = contentRequest.platform || 'instagram';\nconst config = platformConfig[targetPlatform] || platformConfig.instagram;\n\n// Templates de contenido por categoría\nconst contentTemplates = {\n  'educational': {\n    structure: ['hook', 'value_proposition', 'main_content', 'call_to_action'],\n    engagement_elements: ['question', 'poll', 'statistic', 'tip'],\n    viral_potential: 0.75\n  },\n  'entertainment': {\n    structure: ['hook', 'story', 'punchline', 'engagement'],\n    engagement_elements: ['meme', 'trend', 'challenge', 'reaction'],\n    viral_potential: 0.89\n  },\n  'promotional': {\n    structure: ['value_prop', 'social_proof', 'offer', 'urgency'],\n    engagement_elements: ['testimonial', 'limited_time', 'bonus', 'guarantee'],\n    viral_potential: 0.45\n  },\n  'behind_scenes': {\n    structure: ['setup', 'process', 'result', 'lesson'],\n    engagement_elements: ['authenticity', 'transparency', 'process', 'outcome'],\n    viral_potential: 0.62\n  }\n};\n\nconst template = contentTemplates[contentType] || contentTemplates.educational;\n\n// Generar contenido usando IA\nconst generatedContent = {\n  platform: targetPlatform,\n  content_type: contentType,\n  text_content: generateOptimizedText(contentRequest, config, template),\n  hashtags: generateHashtags(contentRequest, config.hashtag_limit),\n  visual_suggestions: generateVisualSuggestions(contentType, targetPlatform),\n  engagement_hooks: generateEngagementHooks(contentType),\n  post_timing: optimizePostingTime(targetPlatform),\n  content_metadata: {\n    estimated_engagement_rate: config.engagement_rate_avg,\n    projected_reach: calculateProjectedReach(contentRequest, config),\n    viral_probability: template.viral_potential * 0.3,\n    conversion_likelihood: contentType === 'promotional' ? 0.15 : 0.05\n  }\n};\n\n// Crear variaciones A/B para testing\nconst contentVariants = {\n  'variant_a': {\n    ...generatedContent,\n    hook_style: 'question',\n    cta_style: 'direct',\n    visual_style: 'minimal'\n  },\n  'variant_b': {\n    ...generatedContent,\n    hook_style: 'statistic',\n    cta_style: 'soft',\n    visual_style: 'vibrant'\n  },\n  'variant_c': {\n    ...generatedContent,\n    hook_style: 'story',\n    cta_style: 'curiosity',\n    visual_style: 'mixed'\n  }\n};\n\n// Programar calendario de contenido\nconst contentSchedule = {\n  immediate: {\n    'post_now': generatedContent,\n    'schedule_time': optimizePostingTime(targetPlatform),\n    'auto_publish': contentRequest.auto_publish || false\n  },\n  follow_up: [\n    {\n      action: 'repost_as_story',\n      platform: targetPlatform,\n      delay_hours: 4\n    },\n    {\n      action: 'cross_post',\n      platforms: ['linkedin', 'twitter'],\n      delay_hours: 2\n    },\n    {\n      action: 'create_thread',\n      platform: 'twitter',\n      delay_hours: 6\n    }\n  ]\n};\n\nreturn {\n  json: {\n    action: 'generate_social_content',\n    original_request: contentRequest,\n    generated_content: generatedContent,\n    content_variants: contentVariants,\n    content_schedule: contentSchedule,\n    platform_config: config,\n    template_used: template,\n    estimated_performance: {\n      projected_likes: Math.floor(generatedContent.content_metadata.projected_reach * 0.05),\n      projected_comments: Math.floor(generatedContent.content_metadata.projected_reach * 0.02),\n      projected_shares: Math.floor(generatedContent.content_metadata.projected_reach * 0.01),\n      projected_engagement_rate: Math.floor(generatedContent.content_metadata.engagement_rate_rate * 10000) / 100 + '%',\n      conversion_potential: '$' + Math.floor(generatedContent.content_metadata.projected_reach * 0.02)\n    },\n    campaign_id: 'contentcreator_' + Date.now(),\n    monthly_projection: 2890\n  }\n};\n\n// Funciones auxiliares\nfunction generateOptimizedText(request, config, template) {\n  const hooks = [\n    '¿Sabías que',\n    'El 73% de las personas',\n    'En solo 30 segundos',\n    'La verdad que nadie te dice sobre',\n    'Este truco cambió mi'\n  ];\n  \n  const hook = hooks[Math.floor(Math.random() * hooks.length)];\n  const topic = request.topic || 'emprendimiento';\n  const tone = request.tone || 'profesional';\n  \n  return hook + ' ' + topic.toLowerCase() + ' que puede transformar tu negocio.\\n\\n🚀 3 claves que necesitas saber:\\n1. Enfoque en resultados, no en procesos\\n2. Automatiza lo repetitivo\\n3. Mide y optimiza constantemente\\n\\n💡 ¿Cuál aplicas primero? Déjame saber en los comentarios.';\n}\n\nfunction generateHashtags(request, limit) {\n  const baseHashtags = ['#emprendimiento', '#negocios', '#marketing', '#startup', '#success', '#business', '#growth', '#strategy'];\n  const industryTags = ['#tech', '#ecommerce', '#digital', '#innovation', '#leadership'];\n  const allTags = [...baseHashtags, ...industryTags];\n  \n  return allTags.slice(0, Math.min(limit, allTags.length));\n}\n\nfunction generateVisualSuggestions(type, platform) {\n  const suggestions = {\n    'educational': ['Infographic', 'Carousel', 'Quote card', 'Step-by-step image'],\n    'entertainment': ['Behind the scenes', 'Meme format', 'Before/after', 'Reaction GIF'],\n    'promotional': ['Product showcase', 'Testimonial graphic', 'Offer banner', 'Benefit callout'],\n    'behind_scenes': ['Process photos', 'Team moments', 'Workspace', 'Day in the life']\n  };\n  \n  return suggestions[type] || suggestions.educational;\n}\n\nfunction generateEngagementHooks(type) {\n  const hooks = {\n    'educational': ['¿Cuál es tu experiencia con esto?', '¿Qué otro método prefieres?', '¿Te funciona este enfoque?'],\n    'entertainment': ['¿Te identificas?', '¿A quién más le pasa esto?', '¿Qué opinas?'],\n    'promotional': ['¿Qué necesitas para empezar?', '¿Cuál es tu mayor desafío?', '¿Quieres más información?'],\n    'behind_scenes': ['¿Te gustaría ver más contenido así?', '¿Qué proceso te interesa más?', '¿Tienes preguntas?']\n  };\n  \n  return hooks[type] || hooks.educational;\n}\n\nfunction optimizePostingTime(platform) {\n  const optimalTimes = {\n    'instagram': ['10:00', '14:00', '19:00'],\n    'tiktok': ['12:00', '15:00', '20:00'],\n    'twitter': ['09:00', '12:00', '15:00'],\n    'linkedin': ['08:00', '10:00', '12:00'],\n    'youtube': ['14:00', '16:00', '20:00']\n  };\n  \n  const times = optimalTimes[platform] || optimalTimes.instagram;\n  const selectedTime = times[Math.floor(Math.random() * times.length)];\n  \n  // Retornar fecha y hora optimizada\n  const tomorrow = new Date();\n  tomorrow.setDate(tomorrow.getDate() + 1);\n  tomorrow.setHours(parseInt(selectedTime.split(':')[0]), parseInt(selectedTime.split(':')[1]), 0, 0);\n  \n  return tomorrow.toISOString();\n}\n\nfunction calculateProjectedReach(request, config) {\n  const baseReach = 1000;\n  const followerBoost = (request.follower_count || 5000) / 1000;\n  const contentQuality = request.content_quality_score || 7;\n  const timingBonus = 1.2; // Posting at optimal time\n  \n  return Math.floor(baseReach * followerBoost * (contentQuality / 5) * timingBonus);\n}"
      },
      "name": "Generador de Contenido AI",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/me/feed",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "message": "{{ $json.generated_content.text_content }}",
            "link": "{{ $json.generated_content.post_url }}",
            "access_token": "{{ $json.facebook_access_token }}",
            "scheduled_publish_time": "{{ $json.generated_content.post_timing }}",
            "published": "{{ $json.content_schedule.immediate.auto_publish }}"
          }
        }
      },
      "name": "Publicar en Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.instagram.com/v1/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instagramBasicDisplayApi",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "image_url": "{{ $json.generated_content.image_url }}",
            "caption": "{{ $json.generated_content.text_content }} {{ $json.generated_content.hashtags.join(' ') }}",
            "access_token": "{{ $json.instagram_access_token }}"
          }
        }
      },
      "name": "Publicar en Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 480]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterApi",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "text": "{{ $json.generated_content.text_content }}",
            "media": "{{ $json.generated_content.media_ids }}",
            "scheduled_at": "{{ $json.generated_content.post_timing }}"
          }
        }
      },
      "name": "Tweet en Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInApi",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "author": "urn:li:person:{{ $json.linkedin_person_id }}",
            "lifecycleState": "PUBLISHED",
            "specificContent": {
              "com.linkedin.ugc.ShareContent": {
                "shareCommentary": {
                  "text": "{{ $json.generated_content.text_content }}"
                },
                "shareMediaCategory": "NONE"
              }
            },
            "visibility": {
              "com.linkedin.ugc.MemberNetworkVisibility": "CONNECTIONS"
            }
          }
        }
      },
      "name": "Post en LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 480]
    },
    {
      "parameters": {
        "url": "https://openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "model": "gpt-4-turbo-preview",
            "messages": [
              {
                "role": "system",
                "content": "Eres un experto en crear contenido viral para redes sociales. Analiza el siguiente contenido y sugiere optimizaciones."
              },
              {
                "role": "user",
                "content": "Contenido a analizar: {{ $json.generated_content.text_content }} Plataforma: {{ $json.generated_content.platform }}"
              }
            ],
            "max_tokens": 500,
            "temperature": 0.7
          }
        }
      },
      "name": "Optimización con GPT-4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackWebhook",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "text": "ContentCreator AI - Nuevo contenido publicado",
            "attachments": [
              {
                "color": "good",
                "fields": [
                  {
                    "title": "Plataformas",
                    "value": "Instagram, Twitter, LinkedIn",
                    "short": true
                  },
                  {
                    "title": "Tipo de Contenido",
                    "value": "{{ $json.generated_content.content_type }}",
                    "short": true
                  },
                  {
                    "title": "Engagement Proyectado",
                    "value": "{{ $json.estimated_performance.projected_likes }} likes estimados",
                    "short": true
                  },
                  {
                    "title": "Reach Proyectado",
                    "value": "{{ $json.generated_content.content_metadata.projected_reach }} personas",
                    "short": true
                  },
                  {
                    "title": "Potencial Viral",
                    "value": "{{ Math.floor($json.generated_content.content_metadata.viral_probability * 100) }}%",
                    "short": true
                  },
                  {
                    "title": "Revenue Potencial",
                    "value": "{{ $json.estimated_performance.conversion_potential }}",
                    "short": true
                  }
                ],
                "footer": "ContentCreator AI v2025",
                "ts": "{{ Math.floor(Date.now() / 1000) }}"
              }
            ]
          }
        }
      },
      "name": "Notificación Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Trigger Webhook": {
      "main": [
        [
          {
            "node": "Generador de Contenido AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de Contenido AI": {
      "main": [
        [
          {
            "node": "Publicar en Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publicar en Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tweet en Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post en LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar en Facebook": {
      "main": [
        [
          {
            "node": "Optimización con GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar en Instagram": {
      "main": [
        [
          {
            "node": "Notificación Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tweet en Twitter": {
      "main": [
        [
          {
            "node": "Optimización con GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post en LinkedIn": {
      "main": [
        [
          {
            "node": "Notificación Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimización con GPT-4": {
      "main": [
        [
          {
            "node": "Notificación Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "systemId": "21",
    "category": "social",
    "price": 95,
    "revenue": 2890,
    "conversions": 198,
    "roi": 267,
    "description": "Generación automática de contenido viral para redes sociales con IA",
    "createdBy": "MiniMax Agent",
    "version": "2025.1.0",
    "monthly_projection": 2890,
    "target_monthly": 3468,
    "current_performance": 83.33
  },
  "tags": ["social-media", "content-creation", "ai", "viral", "automation"],
  "triggerCount": 1,
  "updatedAt": "2025-11-16T15:05:31.000Z",
  "versionId": "contentcreator-v2025"
}