57_MaintenancePredictive_AI_v2025.json
{"name": "57_MaintenancePredictive_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "maintenance-predictive-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Maintenance Predictive AI v2025 - Sistema 57\n// Proyección: $7,540/mes | Automation: 94% | Uptime: 96.8%\n\nconst input = $input.all()[0].json;\nconst { equipment, sensors, history, operations } = input;\n\n// IA para mantenimiento predictivo\nconst predictiveAI = {\n  monitoring: {\n    sensors: 'real_time_sensor_data_analysis',\n    vibration: 'vibration_analysis_algorithms',\n    temperature: 'thermal_pattern_analysis',\n    performance: 'performance_degradation_tracking'\n  },\n  prediction: {\n    algorithms: 'machine_learning_failure_prediction',\n    patterns: 'failure_pattern_recognition',\n    probability: 'failure_probability_calculation',\n    timeline: 'maintenance_timeline_estimation'\n  },\n  optimization: {\n    scheduling: 'optimal_maintenance_scheduling',\n    resources: 'resource_allocation_optimization',\n    costs: 'maintenance_cost_optimization',\n    efficiency: 'overall_efficiency_maximization'\n  }\n};\n\n// Sistema de alertas inteligentes\nconst alertSystem = {\n  early: {\n    indicators: 'early_failure_indicators',\n    trends: 'degradation_trend_alerts',\n    patterns: 'anomalous_pattern_alerts'\n  },\n  critical: {\n    immediate: 'immediate_failure_risk_alerts',\n    urgent: 'urgent_maintenance_required_alerts',\n    emergency: 'emergency_shutdown_alerts'\n  }\n};\n\nreturn {\n  predictiveAI,\n  alertSystem,\n  revenueProjection: 7540,\n  automationLevel: 94,\n  uptime: 96.8,\n  timestamp: new Date().toISOString(),\n  status: 'predictive_maintenance_active'\n};"}, "id": "ai-prediction", "name": "IA Predicción", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Implementación y optimización\n\nconst predictionData = $input.all()[0].json;\nconst { alertSystem, predictiveAI } = predictionData;\n\n// Impacto del sistema\nconst businessImpact = {\n  downtime: {\n    reduction: '65%_unplanned_downtime_reduction',\n    prevention: '80%_preventable_failures_prevented',\n    planning: '45%_better_planned_maintenance'\n  },\n  costs: {\n    savings: '37%_maintenance_cost_reduction',\n    efficiency: '52%_maintenance_efficiency_improvement',\n    lifecycle: '28%_asset_lifecycle_extension'\n  }\n};\n\nreturn {\n  businessImpact,\n  implementation: [\n    'Install sensor systems',\n    'Collect baseline data',\n    'Train AI models',\n    'Set up monitoring',\n    'Begin predictive maintenance'\n  ]\n};"}, "id": "business-impact", "name": "Impacto Negocio", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Dashboard y métricas\n\nconst impactData = $input.all()[0].json;\nconst { businessImpact } = impactData;\n\n// Dashboard de mantenimiento\nconst maintenanceDashboard = {\n  realTime: {\n    status: 'live_equipment_status',\n    alerts: 'predictive_maintenance_alerts',\n    performance: 'real_time_performance_metrics'\n  }\n};\n\nreturn {\n  maintenanceDashboard,\n  value: {\n    reliability: 'enhanced_equipment_reliability',\n    productivity: 'improved_productive_capacity',\n    safety: 'enhanced_operational_safety',\n    sustainability: 'improved_asset_sustainability'\n  }\n};"}, "id": "maintenance-dashboard", "name": "Dashboard Mantenimiento", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Predicción", "type": "main", "index": 0}]]}, "IA Predicción": {"main": [[{"node": "Impacto Negocio", "type": "main", "index": 0}]]}, "Impacto Negocio": {"main": [[{"node": "Dashboard Mantenimiento", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "maintenance-predictive-ai", "name": "Maintenance Predictive AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "maintenance-predictive-v2025-57"}