59_SafetyMonitoring_AI_v2025.json
{"name": "59_SafetyMonitoring_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "safety-monitoring-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Safety Monitoring AI v2025 - Sistema 59\n// Proyección: $6,120/mes | Automation: 89% | Incidents: -78%\n\nconst input = $input.all()[0].json;\nconst { workplace, equipment, workers, compliance } = input;\n\n// IA para monitoreo de seguridad\nconst safetyAI = {\n  detection: {\n    hazards: 'real_time_hazard_detection',\n    violations: 'safety_violation_detection',\n    equipment: 'equipment_safety_monitoring',\n    behavior: 'unsafe_behavior_detection'\n  },\n  prevention: {\n    prediction: 'accident_prediction_algorithms',\n    alerts: 'real_time_safety_alerts',\n    training: 'personalized_safety_training'\n  },\n  compliance: {\n    monitoring: 'regulatory_compliance_monitoring',\n    reporting: 'automated_safety_reporting',\n    documentation: 'compliance_documentation'\n  }\n};\n\n// Sistema de alertas\nconst alertSystem = {\n  immediate: {\n    emergency: 'emergency_situation_alerts',\n    critical: 'critical_safety_violations',\n    urgent: 'urgent_hazard_alerts'\n  },\n  preventive: {\n    trends: 'safety_trend_alerts',\n    training: 'training_opportunity_alerts',\n    maintenance: 'equipment_safety_alerts'\n  }\n};\n\nreturn {\n  safetyAI,\n  alertSystem,\n  revenueProjection: 6120,\n  automationLevel: 89,\n  incidentReduction: 78,\n  timestamp: new Date().toISOString(),\n  status: 'safety_monitored'\n};"}, "id": "ai-safety", "name": "IA Seguridad", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Dashboard y reportes\n\nconst safetyData = $input.all()[0].json;\nconst { alertSystem, safetyAI } = safetyData;\n\n// Dashboard de seguridad\nconst safetyDashboard = {\n  realTime: {\n    status: 'live_safety_status',\n    alerts: 'safety_alert_dashboard',\n    compliance: 'compliance_status'\n  },\n  analytics: {\n    insights: 'safety_insights_and_recommendations',\n    trends: 'safety_performance_trends',\n    optimization: 'safety_optimization_opportunities'\n  }\n};\n\nreturn {\n  safetyDashboard,\n  impact: {\n    safety: '78%_reduction_in_safety_incidents',\n    compliance: '95%_regulatory_compliance',\n    culture: 'improved_safety_culture',\n    insurance: 'reduced_insurance_costs'\n  }\n};"}, "id": "safety-dashboard", "name": "Dashboard Seguridad", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Valor y beneficios\n\nconst dashboardData = $input.all()[0].json;\nconst { safetyDashboard } = dashboardData;\n\nreturn {\n  value: {\n    lives: 'enhanced_worker_safety',\n    reputation: 'improved_company_reputation',\n    productivity: 'increased_worker_productivity',\n    liability: 'reduced_liability_risks'\n  }\n};"}, "id": "safety-value", "name": "Valor Seguridad", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Seguridad", "type": "main", "index": 0}]]}, "IA Seguridad": {"main": [[{"node": "Dashboard Seguridad", "type": "main", "index": 0}]]}, "Dashboard Seguridad": {"main": [[{"node": "Valor Seguridad", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "safety-monitoring-ai", "name": "Safety Monitoring AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "safety-monitoring-v2025-59"}