63_BrandMonitoring_AI_v2025.json
{"name": "63_BrandMonitoring_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "brand-monitoring-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Brand Monitoring AI v2025 - Sistema 63\n// Proyección: $4,720/mes | Automation: 92% | Sentiment: 87%\n\nconst input = $input.all()[0].json;\nconst { brand, keywords, competitors, channels } = input;\n\n// IA para monitoreo de marca\nconst brandAI = {\n  monitoring: {\n    mentions: 'real_time_brand_mention_monitoring',\n    sentiment: 'ai_powered_sentiment_analysis',\n    trends: 'brand_mention_trend_analysis',\n    competitors: 'competitor_mention_tracking'\n  },\n  analysis: {\n    insights: 'brand_insights_generation',\n    reputation: 'reputation_score_calculation',\n    impact: 'impact_assessment_automation'\n  },\n  alerts: {\n    crisis: 'brand_crisis_early_warning',\n    opportunities: 'brand_opportunity_alerts',\n    threats: 'brand_threat_identification'\n  }\n};\n\nreturn {\n  brandAI,\n  revenueProjection: 4720,\n  automationLevel: 92,\n  sentiment: 87,\n  timestamp: new Date().toISOString(),\n  status: 'brand_monitored'\n};"}, "id": "ai-brand", "name": "IA Marca", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Análisis de marca\n\nconst brandData = $input.all()[0].json;\nconst { brandAI } = brandData;\n\n// Dashboard de marca\nconst brandDashboard = {\n  realTime: {\n    mentions: 'live_mention_tracking',\n    sentiment: 'real_time_sentiment_analysis',\n    alerts: 'brand_alert_dashboard'\n  },\n  insights: {\n    trends: 'brand_mention_trends',\n    opportunities: 'brand_opportunity_identification',\n    reputation: 'reputation_score_tracking'\n  }\n};\n\nreturn {\n  brandDashboard,\n  impact: {\n    reputation: '91%_faster_reputation_response',\n    crisis: '85%_crisis_prevention',\n    opportunities: '67%_more_opportunity_identification',\n    competitive: '78%_competitive_advantage'\n  }\n};"}, "id": "brand-analysis", "name": "Análisis Marca", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Valor estratégico\n\nconst analysisData = $input.all()[0].json;\nconst { brandDashboard } = analysisData;\n\nreturn {\n  value: {\n    reputation: 'enhanced_brand_reputation',\n    protection: 'proactive_brand_protection',\n    insights: 'actionable_brand_insights',\n    competitive: 'sustained_competitive_advantage'\n  }\n};"}, "id": "brand-value", "name": "Valor Marca", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Marca", "type": "main", "index": 0}]]}, "IA Marca": {"main": [[{"node": "Análisis Marca", "type": "main", "index": 0}]]}, "Análisis Marca": {"main": [[{"node": "Valor Marca", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "brand-monitoring-ai", "name": "Brand Monitoring AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "brand-monitoring-v2025-63"}