64_Influencer_Matching_AI_v2025.json
{"name": "64_Influencer_Matching_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "influencer-matching-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Influencer Matching AI v2025 - Sistema 64\n// Proyección: $7,280/mes | Automation: 90% | ROI: 340%\n\nconst input = $input.all()[0].json;\nconst { brand, budget, audience, goals } = input;\n\n// IA para matching de influencers\nconst matchingAI = {\n  discovery: {\n    identification: 'ai_powered_influencer_discovery',\n    analysis: 'comprehensive_influencer_analysis',\n    scoring: 'influence_score_calculation',\n    ranking: 'optimal_ranking_algorithms'\n  },\n  vetting: {\n    authenticity: 'fake_follower_detection',\n    engagement: 'authentic_engagement_analysis',\n    alignment: 'brand_alignment_scoring'\n  },\n  optimization: {\n    pricing: 'fair_pricing_optimization',\n    negotiation: 'automated_negotiation_support',\n    performance: 'performance_prediction_modeling'\n  }\n};\n\nreturn {\n  matchingAI,\n  revenueProjection: 7280,\n  automationLevel: 90,\n  roi: 340,\n  timestamp: new Date().toISOString(),\n  status: 'influencer_matched'\n};"}, "id": "ai-matching", "name": "IA Matching", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Gestión de campañas\n\nconst matchingData = $input.all()[0].json;\nconst { matchingAI } = matchingData;\n\n// Dashboard de influencers\nconst influencerDashboard = {\n  discovery: {\n    candidates: 'influencer_candidate_overview',\n    analysis: 'detailed_influencer_analysis',\n    matching: 'match_quality_scoring'\n  },\n  campaigns: {\n    performance: 'campaign_performance_tracking',\n    roi: 'return_on_investment_analysis',\n    optimization: 'campaign_optimization_insights'\n  }\n};\n\nreturn {\n  influencerDashboard,\n  impact: {\n    discovery: '85%_faster_influencer_discovery',\n    authenticity: '97%_authentic_influencer_identification',\n    roi: '340%_average_campaign_roi',\n    efficiency: '72%_campaign_management_efficiency'\n  }\n};"}, "id": "influencer-analysis", "name": "Análisis Influencer", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Valor estratégico\n\nconst analysisData = $input.all()[0].json;\nconst { influencerDashboard } = analysisData;\n\nreturn {\n  value: {\n    reach: 'enhanced_brand_reach',\n    credibility: 'increased_brand_credibility',\n    engagement: 'higher_engagement_rates',\n    conversions: 'improved_conversion_rates'\n  }\n};"}, "id": "influencer-value", "name": "Valor Influencer", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Matching", "type": "main", "index": 0}]]}, "IA Matching": {"main": [[{"node": "Análisis Influencer", "type": "main", "index": 0}]]}, "Análisis Influencer": {"main": [[{"node": "Valor Influencer", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "influencer-matching-ai", "name": "Influencer Matching AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "influencer-matching-v2025-64"}