66_PodcastAutomation_AI_v2025.json
{"name": "66_PodcastAutomation_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "podcast-automation-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Podcast Automation AI v2025 - Sistema 66\n// Proyección: $3,920/mes | Automation: 87% | Episodes: +156%\n\nconst input = $input.all()[0].json;\nconst { topic, format, guests, schedule } = input;\n\n// IA para automatización de podcasts\nconst podcastAI = {\n  creation: {\n    planning: 'episode_planning_automation',\n    research: 'topic_research_and_scripting',\n    recording: 'audio_processing_optimization',\n    editing: 'automated_audio_editing'\n  },\n  production: {\n    enhancement: 'audio_quality_enhancement',\n    music: 'background_music_integration',\n    effects: 'sound_effect_automation'\n  },\n  distribution: {\n    publishing: 'multi_platform_distribution',\n    metadata: 'seo_optimized_metadata',\n    analytics: 'comprehensive_analytics'\n  }\n};\n\nreturn {\n  podcastAI,\n  revenueProjection: 3920,\n  automationLevel: 87,\n  episodes: 156,\n  timestamp: new Date().toISOString(),\n  status: 'podcast_automated'\n};"}, "id": "ai-podcast", "name": "IA Podcast", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Análisis y optimización\n\nconst podcastData = $input.all()[0].json;\nconst { podcastAI } = podcastData;\n\n// Dashboard de podcast\nconst podcastDashboard = {\n  production: {\n    pipeline: 'podcast_production_pipeline',\n    schedule: 'publication_schedule_tracking',\n    performance: 'episode_performance_metrics'\n  },\n  analytics: {\n    engagement: 'listener_engagement_analysis',\n    growth: 'subscriber_growth_tracking',\n    optimization: 'content_optimization_insights'\n  }\n};\n\nreturn {\n  podcastDashboard,\n  impact: {\n    efficiency: '156%_episode_production_increase',\n    quality: 'audio_quality_improvement',\n    distribution: 'automated_distribution',\n    growth: 'audience_growth_acceleration'\n  }\n};"}, "id": "podcast-analysis", "name": "Análisis Podcast", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Valor estratégico\n\nconst analysisData = $input.all()[0].json;\nconst { podcastDashboard } = analysisData;\n\nreturn {\n  value: {\n    authority: 'thought_leadership_positioning',\n    audience: 'deeper_audience_connection',\n    content: 'scalable_content_creation',\n    revenue: 'multiple_revenue_streams'\n  }\n};"}, "id": "podcast-value", "name": "Valor Podcast", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Podcast", "type": "main", "index": 0}]]}, "IA Podcast": {"main": [[{"node": "Análisis Podcast", "type": "main", "index": 0}]]}, "Análisis Podcast": {"main": [[{"node": "Valor Podcast", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "podcast-automation-ai", "name": "Podcast Automation AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "podcast-automation-v2025-66"}