68_EmailTemplates_AI_v2025.json
{"name": "68_EmailTemplates_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "email-templates-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Email Templates AI v2025 - Sistema 68\n// Proyección: $4,280/mes | Automation: 95% | Templates: +312%\n\nconst input = $input.all()[0].json;\nconst { brand, purpose, audience, automation } = input;\n\n// IA para templates de email\nconst templateAI = {\n  design: {\n    layouts: 'responsive_layout_generation',\n    personalization: 'dynamic_personalization_elements',\n    optimization: 'conversion_optimized_design'\n  },\n  content: {\n    copy: 'ai_powered_copy_generation',\n    subjects: 'optimized_subject_line_creation',\n    ctas: 'effective_cta_placement'\n  },\n  automation: {\n    triggers: 'automation_trigger_creation',\n    sequences: 'email_sequence_automation',\n    testing: 'a_b_testing_automation'\n  }\n};\n\nreturn {\n  templateAI,\n  revenueProjection: 4280,\n  automationLevel: 95,\n  templates: 312,\n  timestamp: new Date().toISOString(),\n  status: 'templates_automated'\n};"}, "id": "ai-templates", "name": "IA Templates", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Análisis de performance\n\nconst templateData = $input.all()[0].json;\nconst { templateAI } = templateData;\n\n// Dashboard de templates\nconst templateDashboard = {\n  creation: {\n    library: 'template_library_management',\n    performance: 'template_performance_tracking',\n    optimization: 'conversion_optimization'\n  },\n  analytics: {\n    engagement: 'email_engagement_metrics',\n    conversion: 'conversion_rate_analysis',\n    testing: 'a_b_test_results'\n  }\n};\n\nreturn {\n  templateDashboard,\n  impact: {\n    creation: '312%_template_creation_speed',\n    conversion: 'improved_email_conversions',\n    consistency: 'brand_consistency',\n    efficiency: 'automation_efficiency'\n  }\n};"}, "id": "template-analysis", "name": "Análisis Templates", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Valor de email marketing\n\nconst analysisData = $input.all()[0].json;\nconst { templateDashboard } = analysisData;\n\nreturn {\n  value: {\n    effectiveness: 'enhanced_email_effectiveness',\n    scalability: 'scalable_email_marketing',\n    personalization: 'advanced_personalization',\n    roi: 'improved_email_marketing_roi'\n  }\n};"}, "id": "template-value", "name": "Valor Templates", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Templates", "type": "main", "index": 0}]]}, "IA Templates": {"main": [[{"node": "Análisis Templates", "type": "main", "index": 0}]]}, "Análisis Templates": {"main": [[{"node": "Valor Templates", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "email-templates-ai", "name": "Email Templates AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "email-templates-v2025-68"}