70_CourseCreation_AI_v2025.json
{"name": "70_CourseCreation_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "course-creation-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Course Creation AI v2025 - Sistema 70\n// Proyección: $8,960/mes | Automation: 91% | Courses: +189%\n\nconst input = $input.all()[0].json;\nconst { subject, level, format, audience } = input;\n\n// IA para creación de cursos\nconst courseAI = {\n  curriculum: {\n    planning: 'ai_powered_curriculum_design',\n    structure: 'optimal_course_structure',\n    progression: 'learning_progression_optimization'\n  },\n  content: {\n    materials: 'comprehensive_course_materials',\n    assessments: 'automated_assessment_creation',\n    resources: 'supplementary_resource_generation'\n  },\n  delivery: {\n    video: 'automated_video_production',\n    interactive: 'interactive_element_creation',\n    assessment: 'adaptive_assessment_systems'\n  }\n};\n\nreturn {\n  courseAI,\n  revenueProjection: 8960,\n  automationLevel: 91,\n  courses: 189,\n  timestamp: new Date().toISOString(),\n  status: 'courses_automated'\n};"}, "id": "ai-course", "name": "IA Curso", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Gestión de cursos\n\nconst courseData = $input.all()[0].json;\nconst { courseAI } = courseData;\n\n// Dashboard de cursos\nconst courseDashboard = {\n  creation: {\n    pipeline: 'course_creation_pipeline',\n    materials: 'course_material_management',\n    quality: 'course_quality_assessment'\n  },\n  analytics: {\n    enrollment: 'student_enrollment_tracking',\n    engagement: 'student_engagement_analysis',\n    completion: 'course_completion_rates'\n  }\n};\n\nreturn {\n  courseDashboard,\n  impact: {\n    creation: '189%_course_creation_speed',\n    quality: 'consistent_course_quality',\n    engagement: 'improved_student_engagement',\n    revenue: 'educational_revenue_growth'\n  }\n};"}, "id": "course-analysis", "name": "Análisis Curso", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Valor educativo\n\nconst analysisData = $input.all()[0].json;\nconst { courseDashboard } = analysisData;\n\nreturn {\n  value: {\n    expertise: 'thought_leadership_positioning',\n    revenue: 'scalable_educational_revenue',\n    authority: 'industry_authority_building',\n    impact: 'meaningful_educational_impact'\n  }\n};"}, "id": "course-value", "name": "Valor Curso", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Curso", "type": "main", "index": 0}]]}, "IA Curso": {"main": [[{"node": "Análisis Curso", "type": "main", "index": 0}]]}, "Análisis Curso": {"main": [[{"node": "Valor Curso", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "course-creation-ai", "name": "Course Creation AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "course-creation-v2025-70"}