72_LeadScoring_AI_v2025.json
{"name": "72_LeadScoring_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "lead-scoring-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Lead Scoring AI v2025 - Sistema 72\n// Proyección: $7,480/mes | Automation: 94% | Accuracy: 89.2%\n\nconst input = $input.all()[0].json;\nconst { criteria, data, behavior, demographics } = input;\n\n// IA para scoring de leads\nconst scoringAI = {\n  analysis: {\n    demographic: 'demographic_scoring_algorithms',\n    behavioral: 'behavioral_pattern_analysis',\n    firmographic: 'company_data_scoring',\n    intent: 'purchase_intent_prediction'\n  },\n  models: {\n    machine: 'machine_learning_scoring_models',\n    rules: 'rule_based_scoring_rules',\n    weights: 'dynamic_weight_calculation'\n  },\n  automation: {\n    real: 'real_time_lead_scoring',\n    alerts: 'score_based_alert_automation',\n    routing: 'automated_lead_routing'\n  }\n};\n\nreturn {\n  scoringAI,\n  revenueProjection: 7480,\n  automationLevel: 94,\n  accuracy: 89.2,\n  timestamp: new Date().toISOString(),\n  status: 'lead_scoring_active'\n};"}, "id": "ai-scoring", "name": "IA Scoring", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Optimización de leads\n\nconst scoringData = $input.all()[0].json;\nconst { scoringAI } = scoringData;\n\n// Dashboard de scoring\nconst scoringDashboard = {\n  realTime: {\n    scoring: 'live_lead_scoring',\n    alerts: 'high_priority_lead_alerts',\n    pipeline: 'scored_lead_pipeline'\n  },\n  analytics: {\n    accuracy: 'scoring_accuracy_analysis',\n    conversion: 'lead_to_conversion_analysis',\n    optimization: 'scoring_optimization_insights'\n  }\n};\n\nreturn {\n  scoringDashboard,\n  impact: {\n    efficiency: '67%_faster_lead_qualification',\n    accuracy: '89.2%_scoring_accuracy',\n    conversion: '43%_conversion_rate_improvement',\n    sales: 'sales_team_productivity_boost'\n  }\n};"}, "id": "scoring-analysis", "name": "Análisis Scoring", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Valor comercial\n\nconst analysisData = $input.all()[0].json;\nconst { scoringDashboard } = analysisData;\n\nreturn {\n  value: {\n    efficiency: 'enhanced_sales_efficiency',\n    conversion: 'improved_conversion_rates',\n    focus: 'better_sales_focus',\n    revenue: 'increased_revenue_performance'\n  }\n};"}, "id": "scoring-value", "name": "Valor Scoring", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Scoring", "type": "main", "index": 0}]]}, "IA Scoring": {"main": [[{"node": "Análisis Scoring", "type": "main", "index": 0}]]}, "Análisis Scoring": {"main": [[{"node": "Valor Scoring", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "lead-scoring-ai", "name": "Lead Scoring AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "lead-scoring-v2025-72"}