73_SalesFunnel_AI_v2025.json
{"name": "73_SalesFunnel_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "sales-funnel-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Sales Funnel AI v2025 - Sistema 73\n// Proyección: $8,720/mes | Automation: 93% | Conversion: +156%\n\nconst input = $input.all()[0].json;\n{ const { stages, touchpoints, goals, metrics } = input;\n\n// IA para optimización de embudo\nconst funnelAI = {\n  optimization: {\n    stages: 'funnel_stage_optimization',\n    touchpoints: 'touchpoint_effectiveness_analysis',\n    bottlenecks: 'bottleneck_identification_and_resolution'\n  },\n  automation: {\n    nurturing: 'automated_lead_nurturing',\n    follow: 'intelligent_follow_up_automation',\n    conversion: 'conversion_optimization_automation'\n  },\n  analytics: {\n    tracking: 'comprehensive_funnel_tracking',\n    insights: 'funnel_performance_insights',\n    prediction: 'conversion_prediction_modeling'\n  }\n};\n\nreturn {\n  funnelAI,\n  revenueProjection: 8720,\n  automationLevel: 93,\n  conversion: 156,\n  timestamp: new Date().toISOString(),\n  status: 'funnel_optimized'\n};"}, "id": "ai-funnel", "name": "IA Embudo", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Análisis de embudo\n\nconst funnelData = $input.all()[0].json;\nconst { funnelAI } = funnelData;\n\n// Dashboard de embudo\nconst funnelDashboard = {\n  realTime: {\n    stages: 'live_funnel_stage_performance',\n    conversion: 'real_time_conversion_tracking',\n    drop: 'funnel_drop_off_analysis'\n  },\n  optimization: {\n    insights: 'funnel_optimization_insights',\n    opportunities: 'improvement_opportunities',\n    forecasting: 'conversion_forecasting'\n  }\n};\n\nreturn {\n  funnelDashboard,\n  impact: {\n    conversion: '156%_overall_conversion_improvement',\n    efficiency: 'automation_efficiency_gains',\n    revenue: 'revenue_performance_boost',\n    sales: 'sales_process_optimization'\n  }\n};"}, "id": "funnel-analysis", "name": "Análisis Embudo", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Valor estratégico\n\nconst analysisData = $input.all()[0].json;\nconst { funnelDashboard } = analysisData;\n\nreturn {\n  value: {\n    efficiency: 'optimized_sales_efficiency',\n    revenue: 'increased_revenue_generation',\n    scalability: 'scalable_sales_process',\n    competitive: 'competitive_sales_advantage'\n  }\n};"}, "id": "funnel-value", "name": "Valor Embudo", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Embudo", "type": "main", "index": 0}]]}, "IA Embudo": {"main": [[{"node": "Análisis Embudo", "type": "main", "index": 0}]]}, "Análisis Embudo": {"main": [[{"node": "Valor Embudo", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "sales-funnel-ai", "name": "Sales Funnel AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "sales-funnel-v2025-73"}