74_CustomerSegmentation_AI_v2025.json
{"name": "74_CustomerSegmentation_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "customer-segmentation-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Customer Segmentation AI v2025 - Sistema 74\n// Proyección: $6,940/mes | Automation: 91% | Segments: 87%\n\nconst input = $input.all()[0].json;\nconst { data, behavior, preferences, value } = input;\n\n// IA para segmentación\nconst segmentationAI = {\n  analysis: {\n    behavioral: 'behavioral_pattern_analysis',\n    demographic: 'demographic_segmentation',\n    psychographic: 'psychographic_profiling',\n    transactional: 'transaction_history_analysis'\n  },\n  modeling: {\n    clustering: 'advanced_clustering_algorithms',\n    prediction: 'segment_lifetime_value_prediction',\n    evolution: 'dynamic_segment_evolution'\n  }\n};\n\nreturn {\n  segmentationAI,\n  revenueProjection: 6940,\n  automationLevel: 91,\n  segments: 87,\n  timestamp: new Date().toISOString(),\n  status: 'segmentation_active'\n};"}, "id": "ai-segmentation", "name": "IA Segmentación", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "// Dashboard y análisis\n\nconst segData = $input.all()[0].json;\nconst { segmentationAI } = segData;\n\nconst dashboard = {\n  segments: 'segment_overview',\n  performance: 'segment_performance',\n  insights: 'segment_insights'\n};\n\nreturn { dashboard };"}, "id": "seg-analysis", "name": "Análisis Segmentos", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "// Valor estratégico\n\nreturn {\n  value: {\n    targeting: 'precise_marketing_targeting',\n    personalization: 'advanced_personalization',\n    retention: 'improved_customer_retention',\n    revenue: 'increased_segment_revenue'\n  }\n};"}, "id": "seg-value", "name": "Valor Segmentos", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Segmentación", "type": "main", "index": 0}]]}, "IA Segmentación": {"main": [[{"node": "Análisis Segmentos", "type": "main", "index": 0}]]}, "Análisis Segmentos": {"main": [[{"node": "Valor Segmentos", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "customer-segmentation-ai", "name": "Customer Segmentation AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "customer-segmentation-v2025-74"}