75_PricingOptimization_AI_v2025.json
{"name": "75_PricingOptimization_AI_v2025", "nodes": [{"parameters": {"httpMethod": "POST", "filepath": "pricing-optimization-ai", "responseMode": "responseNode"}, "id": "webhook-trigger", "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"functionCode": "// Pricing Optimization AI v2025 - Sistema 75\n// Proyección: $9,480/mes | Automation: 88% | Revenue: +134%\n\nconst input = $input.all()[0].json;\nconst { costs, competition, demand, value } = input;\n\nconst pricingAI = {\n  analysis: 'competitor_pricing_analysis',\n  optimization: 'dynamic_pricing_optimization',\n  testing: 'price_elasticity_testing'\n};\n\nreturn {\n  pricingAI,\n  revenueProjection: 9480,\n  automationLevel: 88,\n  revenue: 134,\n  status: 'pricing_optimized'\n};"}, "id": "ai-pricing", "name": "IA Precios", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [460, 300]}, {"parameters": {"functionCode": "const data = $input.all()[0].json;\nreturn { dashboard: 'pricing_performance_overview' };"}, "id": "pricing-dashboard", "name": "Dashboard Precios", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [680, 300]}, {"parameters": {"functionCode": "return { value: 'enhanced_profitability' };"}, "id": "pricing-value", "name": "Valor Precios", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [900, 300]}], "connections": {"Webhook Trigger": {"main": [[{"node": "IA Precios", "type": "main", "index": 0}]]}, "IA Precios": {"main": [[{"node": "Dashboard Precios", "type": "main", "index": 0}]]}, "Dashboard Precios": {"main": [[{"node": "Valor Precios", "type": "main", "index": 0}]]}}, "pinData": {}, "settings": {"executionOrder": "v1"}, "staticData": null, "tags": [{"createdAt": "2025-11-16T15:42:53.000Z", "updatedAt": "2025-11-16T15:42:53.000Z", "id": "pricing-optimization-ai", "name": "Pricing Optimization AI"}], "triggerCount": 1, "updatedAt": "2025-11-16T15:42:53.000Z", "versionId": "pricing-optimization-v2025-75"}