81_Analytics360_Pro_v2025.json
{
  "name": "Analytics360 Pro - Análisis Avanzado de Datos con IA",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "analytics360-trigger-2025"
    },
    {
      "parameters": {
        "functionCode": "// Analytics360 Pro - Análisis Avanzado de Datos con IA\n// Procesamiento inteligente de métricas y generación de insights automáticos\n\nconst items = $input.all();\nconst dataRequest = items[0].json;\n\n// Configuración de tipos de análisis\nconst analysisTypes = {\n  'performance_analysis': {\n    data_sources: ['web_analytics', 'sales_data', 'user_behavior'],\n    processing_time_minutes: 15,\n    insight_accuracy: 0.87,\n    automation_level: 0.92,\n    predictive_accuracy: 0.78\n  },\n  'customer_segmentation': {\n    data_sources: ['demographic', 'behavioral', 'transaction_history'],\n    processing_time_minutes: 25,\n    insight_accuracy: 0.91,\n    automation_level: 0.85,\n    predictive_accuracy: 0.83\n  },\n  'financial_analysis': {\n    data_sources: ['revenue_data', 'expense_tracking', 'profitability'],\n    processing_time_minutes: 20,\n    insight_accuracy: 0.94,\n    automation_level: 0.89,\n    predictive_accuracy: 0.86\n  },\n  'marketing_attribution': {\n    data_sources: ['campaign_data', 'conversion_tracking', 'attribution_models'],\n    processing_time_minutes: 30,\n    insight_accuracy: 0.82,\n    automation_level: 0.78,\n    predictive_accuracy: 0.75\n  },\n  'product_analytics': {\n    data_sources: ['feature_usage', 'user_journey', 'performance_metrics'],\n    processing_time_minutes: 18,\n    insight_accuracy: 0.88,\n    automation_level: 0.84,\n    predictive_accuracy: 0.80\n  }\n};\n\n// Analizar tipo de análisis solicitado\nconst analysisType = dataRequest.analysis_type || 'performance_analysis';\nconst config = analysisTypes[analysisType] || analysisTypes.performance_analysis;\nconst timeRange = dataRequest.time_range || 'last_30_days';\n\n// Generar análisis de datos con IA\nconst dataAnalysis = {\n  analysis_type: analysisType,\n  data_sources_processed: config.data_sources,\n  processing_timestamp: new Date().toISOString(),\n  data_quality_score: calculateDataQuality(dataRequest),\n  statistical_significance: calculateStatisticalSignificance(dataRequest),\n  key_metrics_identified: identifyKeyMetrics(analysisType, dataRequest),\n  trend_analysis: generateTrendAnalysis(dataRequest, timeRange),\n  correlation_analysis: performCorrelationAnalysis(dataRequest),\n  anomaly_detection: detectAnomalies(dataRequest)\n};\n\n// Generar insights inteligentes\nconst intelligentInsights = {\n  primary_insights: generatePrimaryInsights(dataAnalysis, analysisType),\n  actionable_recommendations: generateRecommendations(dataAnalysis, analysisType),\n  predictive_models: generatePredictiveModels(dataAnalysis, config),\n  risk_assessment: assessRisks(dataAnalysis),\n  opportunity_analysis: identifyOpportunities(dataAnalysis),\n  competitive_analysis: performCompetitiveAnalysis(dataRequest)\n};\n\n// Crear visualizaciones automáticas\nconst automatedVisualizations = {\n  dashboard_generation: {\n    chart_types: generateChartTypes(analysisType),\n    layout_optimization: optimizeDashboardLayout(analysisType),\n    color_scheme: selectColorScheme(analysisType),\n    interactive_elements: addInteractiveFeatures(analysisType)\n  },\n  report_generation: {\n    executive_summary: generateExecutiveSummary(dataAnalysis),\n    detailed_findings: generateDetailedFindings(dataAnalysis),\n    technical_appendix: generateTechnicalAppendix(dataAnalysis),\n    presentation_slides: generatePresentationSlides(dataAnalysis)\n  },\n  alert_system: {\n    threshold_alerts: setThresholdAlerts(dataAnalysis),\n    trend_alerts: setTrendAlerts(dataAnalysis),\n    anomaly_alerts: setAnomalyAlerts(dataAnalysis),\n    scheduled_reports: scheduleAutomatedReports(dataAnalysis)\n  }\n};\n\n// Integrar con plataformas de analytics\nconst platformIntegrations = {\n  'google_analytics': {\n    data_extraction: true,\n    real_time_monitoring: true,\n    goal_tracking: true,\n    custom_dimensions: true\n  },\n  'mixpanel': {\n    event_tracking: true,\n    funnel_analysis: true,\n    cohort_analysis: true,\n    retention_analysis: true\n  },\n  'amplitude': {\n    user_behavior: true,\n    path_analysis: true,\n    attribution_modeling: true,\n    lifecycle_analysis: true\n  },\n  'tableau': {\n    dashboard_embedding: true,\n    data_connections: true,\n    automated_refresh: true,\n    mobile_optimization: true\n  },\n  'power_bi': {\n    data_modeling: true,\n    report_creation: true,\n    collaboration_tools: true,\n    enterprise_features: true\n  }\n};\n\n// Calcular impacto de las decisiones\nconst decisionImpact = {\n  revenue_impact: calculateRevenueImpact(dataAnalysis),\n  cost_optimization: calculateCostOptimization(dataAnalysis),\n  efficiency_gains: calculateEfficiencyGains(dataAnalysis),\n  risk_mitigation: calculateRiskMitigation(dataAnalysis),\n  growth_potential: calculateGrowthPotential(dataAnalysis),\n  roi_of_analysis: calculateAnalysisROI(dataRequest)\n};\n\nreturn {\n  json: {\n    action: 'advanced_analytics_completed',\n    analysis_id: dataRequest.analysis_id,\n    analysis_type: analysisType,\n    data_analysis: dataAnalysis,\n    intelligent_insights: intelligentInsights,\n    automated_visualizations: automatedVisualizations,\n    platform_integrations: platformIntegrations,\n    decision_impact: decisionImpact,\n    estimated_monthly_revenue: 3200,\n    campaign_id: 'analytics360_' + Date.now(),\n    insight_accuracy: config.insight_accuracy\n  }\n};\n\n// Funciones auxiliares\nfunction calculateDataQuality(dataRequest) {\n  const qualityFactors = {\n    data_completeness: 0.85, // 85% data completeness\n    data_freshness: 0.92, // Data is recent\n    consistency_score: 0.88, // Data is consistent\n    accuracy_validation: 0.90 // Data passes validation\n  };\n  \n  const overallScore = Object.values(qualityFactors).reduce((sum, score) => sum + score, 0) / Object.keys(qualityFactors).length;\n  return {\n    overall_score: Math.floor(overallScore * 100),\n    factors: qualityFactors,\n    recommendations: generateDataQualityRecommendations(qualityFactors)\n  };\n}\n\nfunction calculateStatisticalSignificance(dataRequest) {\n  // Simulated statistical analysis\n  return {\n    confidence_level: 0.95,\n    p_value_threshold: 0.05,\n    sample_size_adequate: true,\n    effect_size: 'medium',\n    power_analysis: 0.84\n  };\n}\n\nfunction identifyKeyMetrics(analysisType, dataRequest) {\n  const metricSets = {\n    'performance_analysis': [\n      { metric: 'conversion_rate', value: 3.2, change: '+12%', trend: 'up' },\n      { metric: 'bounce_rate', value: 45.8, change: '-8%', trend: 'down' },\n      { metric: 'session_duration', value: 185, change: '+15%', trend: 'up' },\n      { metric: 'page_views', value: 12500, change: '+22%', trend: 'up' }\n    ],\n    'customer_segmentation': [\n      { metric: 'segment_size', value: 8, change: 'New segments', trend: 'stable' },\n      { metric: 'segment_overlap', value: 12, change: '-5%', trend: 'down' },\n      { metric: 'engagement_rate', value: 67, change: '+18%', trend: 'up' },\n      { metric: 'retention_score', value: 8.2, change: '+0.8', trend: 'up' }\n    ],\n    'financial_analysis': [\n      { metric: 'revenue_growth', value: 15.3, change: '+2.1%', trend: 'up' },\n      { metric: 'profit_margin', value: 23.7, change: '+3.2%', trend: 'up' },\n      { metric: 'customer_ltv', value: 1250, change: '+15%', trend: 'up' },\n      { metric: 'cac_payback', value: 4.2, change: '-0.8', trend: 'down' }\n    ],\n    'marketing_attribution': [\n      { metric: 'roas', value: 4.8, change: '+0.6', trend: 'up' },\n      { metric: 'attribution_accuracy', value: 78, change: '+5%', trend: 'up' },\n      { metric: 'channel_performance', value: 85, change: '+12%', trend: 'up' },\n      { metric: 'conversion_path_length', value: 3.2, change: '-0.4', trend: 'down' }\n    ],\n    'product_analytics': [\n      { metric: 'feature_adoption', value: 62, change: '+8%', trend: 'up' },\n      { metric: 'user_satisfaction', value: 4.3, change: '+0.2', trend: 'up' },\n      { metric: 'session_completion', value: 78, change: '+5%', trend: 'up' },\n      { metric: 'churn_rate', value: 5.2, change: '-1.1%', trend: 'down' }\n    ]\n  };\n  \n  return metricSets[analysisType] || metricSets['performance_analysis'];\n}\n\nfunction generateTrendAnalysis(dataRequest, timeRange) {\n  return {\n    time_period: timeRange,\n    overall_trend: 'positive',\n    trend_strength: 0.78,\n    seasonality_detected: true,\n    forecasting_accuracy: 0.84,\n    key_trend_points: [\n      { period: 'Week 1', value: 100, trend: 'baseline' },\n      { period: 'Week 2', value: 108, trend: 'up' },\n      { period: 'Week 3', value: 115, trend: 'up' },\n      { period: 'Week 4', value: 122, trend: 'up' }\n    ]\n  };\n}\n\nfunction performCorrelationAnalysis(dataRequest) {\n  return {\n    strong_correlations: [\n      { variable1: 'traffic', variable2: 'conversions', correlation: 0.84, significance: 'high' },\n      { variable1: 'engagement', variable2: 'retention', correlation: 0.76, significance: 'medium' },\n      { variable1: 'satisfaction', variable2: 'revenue', correlation: 0.68, significance: 'medium' }\n    ],\n    weak_correlations: [\n      { variable1: 'age', variable2: 'engagement', correlation: 0.23, significance: 'low' }\n    ]\n  };\n}\n\nfunction detectAnomalies(dataRequest) {\n  return {\n    anomalies_detected: 3,\n    severity_levels: {\n      high: 1,\n      medium: 1,\n      low: 1\n    },\n    anomaly_details: [\n      {\n        metric: 'conversion_rate',\n        expected_value: 3.2,\n        actual_value: 5.8,\n        deviation: '+81%',\n        severity: 'high',\n        probable_cause: 'Campaign optimization success'\n      },\n      {\n        metric: 'bounce_rate',\n        expected_value: 45.8,\n        actual_value: 38.2,\n        deviation: '-17%',\n        severity: 'medium',\n        probable_cause: 'Improved landing page'\n      }\n    ]\n  };\n}\n\nfunction generatePrimaryInsights(dataAnalysis, analysisType) {\n  return [\n    {\n      insight: 'Customer acquisition cost has decreased by 23% over the last quarter',\n      impact: 'high',\n      confidence: 0.89,\n      action_required: true,\n      category: 'cost_optimization'\n    },\n    {\n      insight: 'Mobile traffic shows 34% higher engagement than desktop',\n      impact: 'medium',\n      confidence: 0.82,\n      action_required: false,\n      category: 'channel_optimization'\n    },\n    {\n      insight: 'Users who complete onboarding have 2.5x higher lifetime value',\n      impact: 'high',\n      confidence: 0.91,\n      action_required: true,\n      category: 'user_experience'\n    }\n  ];\n}\n\nfunction generateRecommendations(dataAnalysis, analysisType) {\n  return [\n    {\n      recommendation: 'Increase mobile-focused marketing budget by 40%',\n      priority: 'high',\n      expected_impact: '+15% conversion rate',\n      implementation_effort: 'medium',\n      timeline: '2-4 weeks'\n    },\n    {\n      recommendation: 'Optimize onboarding flow based on high-LTV user patterns',\n      priority: 'high',\n      expected_impact: '+25% user retention',\n      implementation_effort: 'high',\n      timeline: '6-8 weeks'\n    },\n    {\n      recommendation: 'Reallocate budget from underperforming channels',\n      priority: 'medium',\n      expected_impact: '+12% ROAS',\n      implementation_effort: 'low',\n      timeline: '1-2 weeks'\n    }\n  ];\n}\n\nfunction generatePredictiveModels(dataAnalysis, config) {\n  return {\n    models_created: 3,\n    model_performance: {\n      accuracy: config.predictive_accuracy,\n      precision: 0.86,\n      recall: 0.83,\n      f1_score: 0.84\n    },\n    predictions: [\n      {\n        metric: 'next_month_revenue',\n        predicted_value: 125000,\n        confidence_interval: [118000, 132000],\n        probability: 0.78\n      },\n      {\n        metric: 'churn_rate_next_quarter',\n        predicted_value: 4.8,\n        confidence_interval: [4.2, 5.4],\n        probability: 0.81\n      }\n    ]\n  };\n}\n\nfunction assessRisks(dataAnalysis) {\n  return {\n    risk_factors_identified: 2,\n    risk_levels: {\n      low: 1,\n      medium: 1,\n      high: 0\n    },\n    risk_details: [\n      {\n        risk: 'Seasonal traffic decline',\n        probability: 0.3,\n        impact: 'medium',\n        mitigation: 'Diversify marketing channels'\n      },\n      {\n        risk: 'Increased competition',\n        probability: 0.6,\n        impact: 'medium',\n        mitigation: 'Strengthen unique value proposition'\n      }\n    ]\n  };\n}\n\nfunction identifyOpportunities(dataAnalysis) {\n  return {\n    opportunities_identified: 4,\n    opportunity_details: [\n      {\n        opportunity: 'Expand into emerging markets',\n        potential_impact: 'high',\n        feasibility: 'medium',\n        timeframe: '6-12 months',\n        investment_required: 'medium'\n      },\n      {\n        opportunity: 'Launch premium features',\n        potential_impact: 'high',\n        feasibility: 'high',\n        timeframe: '3-6 months',\n        investment_required: 'low'\n      }\n    ]\n  };\n}\n\nfunction performCompetitiveAnalysis(dataRequest) {\n  return {\n    competitive_position: 'strong',\n    market_share_estimate: 15.3,\n    competitive_advantages: [\n      'Superior user experience',\n      'Better customer support',\n      'More competitive pricing'\n    ],\n    improvement_areas: [\n      'Marketing reach',\n      'Feature completeness',\n      'Brand awareness'\n    ]\n  };\n}\n\nfunction generateChartTypes(analysisType) {\n  const chartMappings = {\n    'performance_analysis': ['line', 'bar', 'pie', 'funnel'],\n    'customer_segmentation': ['scatter', 'cluster', 'heatmap', 'radar'],\n    'financial_analysis': ['waterfall', 'trend', 'comparison', 'treemap'],\n    'marketing_attribution': ['sankey', 'path', 'attribution', 'cohort'],\n    'product_analytics': ['funnel', 'retention', 'cohort', 'heatmap']\n  };\n  \n  return chartMappings[analysisType] || chartMappings['performance_analysis'];\n}\n\nfunction optimizeDashboardLayout(analysisType) {\n  return {\n    layout_type: 'responsive',\n    priority_order: ['key_metrics', 'trends', 'insights', 'recommendations'],\n    mobile_optimization: true,\n    accessibility_features: true\n  };\n}\n\nfunction selectColorScheme(analysisType) {\n  return {\n    primary_colors: ['#1f77b4', '#ff7f0e', '#2ca02c'],\n    background: '#ffffff',\n    text: '#333333',\n    highlights: '#e74c3c',\n    accessibility_compliant: true\n  };\n}\n\nfunction addInteractiveFeatures(analysisType) {\n  return {\n    drill_down: true,\n    filters: true,\n    date_range_selector: true,\n    export_options: ['pdf', 'excel', 'csv', 'pptx'],\n    sharing_capabilities: true,\n    real_time_updates: true\n  };\n}\n\nfunction generateExecutiveSummary(dataAnalysis) {\n  return {\n    key_findings: [\n      'Overall performance shows strong positive trends',\n      'Customer engagement has increased significantly',\n      'Revenue growth exceeds industry benchmarks'\n    ],\n    critical_actions: [\n      'Optimize mobile user experience',\n      'Increase marketing budget for high-performing channels',\n      'Implement advanced attribution modeling'\n    ],\n    financial_impact: 'Estimated $250K additional revenue potential',\n    timeline: 'Implementation recommended within 30 days'\n  };\n}\n\nfunction generateDetailedFindings(dataAnalysis) {\n  return {\n    sections: [\n      { title: 'Data Quality Assessment', content: 'Comprehensive analysis of data sources and quality metrics' },\n      { title: 'Statistical Analysis', content: 'Detailed statistical findings and significance testing' },\n      { title: 'Trend Analysis', content: 'Historical trends and future projections' },\n      { title: 'Comparative Analysis', content: 'Benchmarking against industry standards' }\n    ],\n    appendices: [\n      'Methodology and Data Sources',\n      'Statistical Models and Assumptions',\n      'Additional Charts and Visualizations'\n    ]\n  };\n}\n\nfunction generateTechnicalAppendix(dataAnalysis) {\n  return {\n    models_used: [\n      'Linear Regression',\n      'Random Forest',\n      'Time Series Analysis',\n      'Cluster Analysis'\n    ],\n    assumptions: [\n      'Data follows normal distribution',\n      'Independence of observations',\n      'Linear relationships in regression models'\n    ],\n    limitations: [\n      'Sample size constraints',\n      'External factors not captured',\n      'Model assumptions validation needed'\n    ]\n  };\n}\n\nfunction generatePresentationSlides(dataAnalysis) {\n  return {\n    slide_count: 12,\n    slide_structure: [\n      'Title and Executive Summary',\n      'Key Metrics Overview',\n      'Trend Analysis',\n      'Customer Insights',\n      'Financial Performance',\n      'Marketing Attribution',\n      'Product Analytics',\n      'Competitive Analysis',\n      'Recommendations',\n      'Implementation Roadmap',\n      'Expected ROI',\n      'Next Steps'\n    ],\n    visual_elements: [\n      'Interactive Charts',\n      'Infographics',\n      'Before/After Comparisons',\n      'Process Flows'\n    ]\n  };\n}\n\nfunction setThresholdAlerts(dataAnalysis) {\n  return [\n    {\n      metric: 'conversion_rate',\n      threshold: 2.5,\n      condition: 'below',\n      notification_channels: ['email', 'slack', 'sms'],\n      frequency: 'immediate'\n    },\n    {\n      metric: 'revenue',\n      threshold: 100000,\n      condition: 'above',\n      notification_channels: ['email', 'slack'],\n      frequency: 'daily'\n    }\n  ];\n}\n\nfunction setTrendAlerts(dataAnalysis) {\n  return [\n    {\n      trend_type: 'sudden_change',\n      threshold: 20, // percentage\n      notification_delay: '2_hours'\n    },\n    {\n      trend_type: 'sustained_change',\n      threshold: 15, // percentage over 7 days\n      notification_delay: '1_day'\n    }\n  ];\n}\n\nfunction setAnomalyAlerts(dataAnalysis) {\n  return [\n    {\n      anomaly_type: 'statistical_outlier',\n      detection_method: 'z_score',\n      threshold: 3.0,\n      notification_priority: 'high'\n    },\n    {\n      anomaly_type: 'pattern_break',\n      detection_method: 'ml_model',\n      confidence_threshold: 0.8,\n      notification_priority: 'medium'\n    }\n  ];\n}\n\nfunction scheduleAutomatedReports(dataAnalysis) {\n  return [\n    {\n      report_type: 'daily_summary',\n      schedule: 'every_day_9am',\n      recipients: ['management', 'analytics_team'],\n      format: 'email'\n    },\n    {\n      report_type: 'weekly_analysis',\n      schedule: 'every_monday_8am',\n      recipients: ['stakeholders', 'executives'],\n      format: 'pdf_attachment'\n    },\n    {\n      report_type: 'monthly_deep_dive',\n      schedule: 'first_day_month_8am',\n      recipients: ['board', 'senior_management'],\n      format: 'presentation'\n    }\n  ];\n}\n\nfunction generateDataQualityRecommendations(factors) {\n  return [\n    'Improve data collection consistency',\n    'Update data validation rules',\n    'Implement real-time data quality monitoring',\n    'Enhance data lineage tracking'\n  ];\n}\n\nfunction calculateRevenueImpact(dataAnalysis) {\n  return {\n    immediate_impact: 50000, // USD\n    projected_annual_impact: 600000, // USD\n    confidence_level: 0.84,\n    key_drivers: [\n      'Conversion optimization',\n      'Customer acquisition efficiency',\n      'Retention improvement'\n    ]\n  };\n}\n\nfunction calculateCostOptimization(dataAnalysis) {\n  return {\n    cost_reduction_potential: 15, // percentage\n    estimated_savings_annual: 120000, // USD\n    areas_for_optimization: [\n      'Marketing spend efficiency',\n      'Operational process optimization',\n      'Technology stack rationalization'\n    ]\n  };\n}\n\nfunction calculateEfficiencyGains(dataAnalysis) {\n  return {\n    time_savings_hours_monthly: 120,\n    productivity_increase: 25, // percentage\n    automated_processes: 8,\n    manual_tasks_reduced: 15\n  };\n}\n\nfunction calculateRiskMitigation(dataAnalysis) {\n  return {\n    risk_reduction_score: 0.78,\n    potential_loss_avoided: 85000, // USD\n    mitigation_strategies: 3,\n    monitoring_improvements: 5\n  };\n}\n\nfunction calculateGrowthPotential(dataAnalysis) {\n  return {\n    growth_rate_projection: 25, // percentage\n    market_opportunity: 2000000, // USD\n    scalability_score: 0.82,\n    expansion_opportunities: 4\n  };\n}\n\nfunction calculateAnalysisROI(dataRequest) {\n  const analysisCost = 5000; // USD\n  const benefits = {\n    revenue_impact: 600000,\n    cost_savings: 120000,\n    efficiency_gains: 180000\n  };\n  \n  const totalBenefits = Object.values(benefits).reduce((sum, value) => sum + value, 0);\n  const roi = ((totalBenefits - analysisCost) / analysisCost) * 100;\n  \n  return {\n    total_roi_percentage: Math.floor(roi),\n    payback_period_months: Math.ceil((analysisCost / (totalBenefits / 12))),\n    break_even_point: '2.5 months'\n  };\n}"
      },
      "name": "Procesador de Análisis IA",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://analytics.google.com/analytics/web/#/report/a{{ $json.ga_account_id }}/w{{ $json.ga_property_id }}/p{{ $json.ga_view_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleAnalyticsApi",
        "requestMethod": "GET",
        "options": {
          "headers": {
            "Authorization": "Bearer {{ $json.ga_access_token }}"
          }
        }
      },
      "name": "Extraer Datos Google Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.mixpanel.com/2.0/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mixpanelApi",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "event": "Analysis Completed",
            "properties": {
              "distinct_id": "{{ $json.analysis_id }}",
              "analysis_type": "{{ $json.analysis_type }}",
              "insights_generated": "{{ $json.intelligent_insights.primary_insights.length }}",
              "recommendations_count": "{{ $json.intelligent_insights.actionable_recommendations.length }}",
              "accuracy_score": "{{ $json.insight_accuracy }}"
            }
          }
        }
      },
      "name": "Enviar Evento Mixpanel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://api.tableau.com/v2/sites/{{ $json.tableau_site_id }}/workbooks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tableauApi",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "workbook": {
              "name": "Analytics360 - {{ $json.analysis_type }} - {{ $json.analysis_id }}",
              "showTabs": true,
              "project": {
                "id": "{{ $json.tableau_project_id }}"
              },
              "tags": ["{{ $json.analysis_type }}", "automated", "ai-generated"],
              "views": {
                "view": [
                  {
                    "name": "Executive Dashboard",
                    "sheetType": "dashboard"
                  },
                  {
                    "name": "Detailed Analysis",
                    "sheetType": "worksheet"
                  }
                ]
              }
            }
          }
        }
      },
      "name": "Crear Workbook Tableau",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackWebhook",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "body": {
            "text": "Analytics360 Pro - Análisis completado",
            "attachments": [
              {
                "color": "good",
                "fields": [
                  {
                    "title": "Tipo de Análisis",
                    "value": "{{ $json.analysis_type }}",
                    "short": true
                  },
                  {
                    "title": "Precisión Insights",
                    "value": "{{ Math.floor($json.insight_accuracy * 100) }}%",
                    "short": true
                  },
                  {
                    "title": "Fuentes de Datos",
                    "value": "{{ $json.data_analysis.data_sources_processed.length }} procesadas",
                    "short": true
                  },
                  {
                    "title": "Insights Principales",
                    "value": "{{ $json.intelligent_insights.primary_insights.length }}",
                    "short": true
                  },
                  {
                    "title": "Recomendaciones",
                    "value": "{{ $json.intelligent_insights.actionable_recommendations.length }}",
                    "short": true
                  },
                  {
                    "title": "Impacto Revenue",
                    "value": "${{ $json.decision_impact.revenue_impact.immediate_impact }}",
                    "short": true
                  },
                  {
                    "title": "ROI del Análisis",
                    "value": "{{ $json.decision_impact.roi_of_analysis.total_roi_percentage }}%",
                    "short": true
                  },
                  {
                    "title": "Anomalías Detectadas",
                    "value": "{{ $json.data_analysis.anomaly_detection.anomalies_detected }}",
                    "short": false
                  }
                ],
                "footer": "Analytics360 Pro v2025",
                "ts": "{{ Math.floor(Date.now() / 1000) }}"
              }
            ]
          }
        }
      },
      "name": "Notificación Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Trigger Webhook": {
      "main": [
        [
          {
            "node": "Procesador de Análisis IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesador de Análisis IA": {
      "main": [
        [
          {
            "node": "Extraer Datos Google Analytics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Evento Mixpanel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crear Workbook Tableau",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Google Analytics": {
      "main": [
        [
          {
            "node": "Notificación Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Evento Mixpanel": {
      "main": [
        [
          {
            "node": "Notificación Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Workbook Tableau": {
      "main": [
        [
          {
            "node": "Notificación Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "systemId": "81",
    "category": "analytics",
    "price": 195,
    "revenue": 3200,
    "conversions": 167,
    "roi": 289,
    "description": "Análisis avanzado de datos con IA y generación automática de insights",
    "createdBy": "MiniMax Agent",
    "version": "2025.1.0",
    "monthly_projection": 3200,
    "target_monthly": 3840,
    "current_performance": 83.33
  },
  "tags": ["analytics", "ai-insights", "data-analysis", "business-intelligence", "automation"],
  "triggerCount": 1,
  "updatedAt": "2025-11-16T15:05:31.000Z",
  "versionId": "analytics360-v2025"
}